<section class="mt-3 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="dots">
                    <a routerLink="/Login"><img src="https://matrika.gold/assets/love-simbal.png"></a>
                    <div>
                        <a routerLink="/Login"><img src="https://matrika.gold/assets/bag.png"></a>
                    </div>
                </div>
                <div>
                    <img class="main-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T06%3A30%3A50.540Z-174.jpg">
                </div>                
            </div>

            <div class="col-lg-6 content">
                <h5>UNCUT FANCY HAAR</h5>
                <div class="pro-color">
                    <p>Carat: <span class="pro-color2">22k</span></p>
                </div>
                <div class="pro-color">
                    <p>Brand: <span class="pro-color2">Matrika</span></p>
                </div>
                <div class="pro-color">
                    <p>Weight <span class="pro-color2">95 Grams</span></p>
                </div>
                <div class="pro-color">
                    <p>VA (20%): <span class="pro-color2">₹97,502.00</span></p>
                </div>
                <div class="pro-color">
                    <p>GST(3%): <span class="pro-color2">₹22,425.00</span></p>
                </div>
                <div class="pro-color">
                    <p>Product Price: <span class="pro-color2">₹650,012.00</span></p>
                </div>

                <div>
                    <p>Size</p>
                    <select class="size">
                        <option>18</option>
                    </select>
                </div>

                <div>
                    <h5 class="price">Totoal Price: ₹769,939.00</h5>
                    <p>(Includes VA%,GST%,StonePrice)</p>
                </div>

                <div>
                    <p>Any Questions? Please Contact us at</p>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <img src="https://matrika.gold/assets/small-whats.png"> 040-23222175 / 040-40137575
                    </div>
                    <div class="col-lg-3">
                        <img src="https://matrika.gold/assets/phone-call.png"> 9160006724
                    </div>
                    <div class="col-lg-4">
                        <p>100% Certified by Internastional Standards</p>
                    </div>
                    
                   </div>

                <div class="bsi content">
                    <img src="https://matrika.gold/assets/bureau-of-indian-standards%201.png">
                    <button class="buynow"><a routerLink="/Login">Buy Now</a></button>
                  </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container content">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <h4 class="pd">Product Details</h4>
                    <div class="col-lg-3">
                        <h5>Basic Information</h5>
                        <div class="info">              
                        <div>
                            <p>Product type:<span>Haram</span></p>
                        </div>
                        <div>
                            <p>Brand:<span>Matrika</span></p>
                        </div>
                        <div>
                            <p>Discription:<span>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    View
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Description</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                       New Arrive
                                        </div>
                                    </div>
                                    </div>
                                </div>                            
                            </span></p>
                        </div>
                       
                       
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5>Metal Information</h5>
                        <div class="info">              
                        <p>Metal Purity:<span>22k</span></p>
                        <p>Brand:<span>Gold</span></p>
                        <p>Gross Weight (g):<span>95 Grams</span></p>
                    </div>
                </div> 
                <div class="col-lg-6">
                    <h5>Certification Information</h5>
                        <div class="info">              
                        <p>Bureau of India Standards Certificate No:<span>HM/C-6390039720</span></p>
                        <p>Legal Entity Identifier No:<span>894500HECY3CXJW1973W73x</span></p>
                    </div>
                </div>
                </div>                      
            </div>           
        </div>
    </div>
</section>

<section class="mt-2">
    <div style="text-align: center;" >
        <h1>You May Also Like</h1>
        <p>"Unearth a world of possibilities – you may just fall in love with this."</p>
      </div>     
       
          <div class="container">
            <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6"> 
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T06%3A25%3A50.809Z-172.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">ANTIQUE HAAR</p>
                          <p class="card-text">  Price : ₹362,896.00</p>
                          <p class="card-text">Weight: 45 Grams</p>
                        </div>
                      </div>
                </div>
                  
                <div class="col-lg-3 col-md-6 col-sm-6"> 
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T06%3A23%3A23.111Z-170.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">RAM PARIVAR SET</p>
                          <p class="card-text"> Price : ₹765,253.00</p>
                          <p class="card-text"> Weight: 95 Grams</p>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6"> 
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T06%3A20%3A33.474Z-169.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">UNCUT HAAR SET</p>
                          <p class="card-text"> Price : ₹563,870.00</p>
                          <p class="card-text"> Weight: 70 Grams</p>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6"> 
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T06%3A18%3A53.579Z-168.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">FANCY CZ HAAR SET</p>
                          <p class="card-text"> Price : ₹563,870.00</p>
                          <p class="card-text"> Weight: 70 Grams</p>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6"> 
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T06%3A11%3A58.425Z-167.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">UNCUT HAAR SET</p>
                          <p class="card-text"> Price : ₹563,870.00</p>
                          <p class="card-text"> Weight: 70 Grams</p>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6"> 
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T06%3A06%3A47.998Z-164.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">UNCUT HAAR SET</p>
                          <p class="card-text"> Price : ₹563,870.00</p>
                          <p class="card-text"> Weight: 70 Grams</p>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6"> 
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T06%3A06%3A47.998Z-164.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">LAXMI HAAR SET</p>
                          <p class="card-text"> Price : ₹644,424.00</p>
                          <p class="card-text"> Weight: 80 Grams</p>
                        </div>
                      </div>
                </div>
            </div>       
          </div>             
</section>