<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <a routerLink="/Necklacepd">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A51%3A14.718Z-161.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy NECKLACE SET</p>
                      <p class="card-text"> Price : ₹527,176.00</p>
                      <p class="card-text"> Weight: 65 Grams</p>
                    </div>
                  </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A48%3A00.906Z-160.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">FANCY LAXMI</p>
                        <p class="card-text"> Price : ₹243,312.00</p>
                        <p class="card-text"> Weight: 30 Grams</p>
                      </div>
                    </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A45%3A41.415Z-159.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">FANCY NECKLACE</p>
                        <p class="card-text"> Price : ₹222,155.00</p>
                        <p class="card-text"> Weight: 30 Grams</p>
                      </div>
                    </div>
              </div>
              
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A41%3A44.478Z-158.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">FANCY LAXMI</p>
                        <p class="card-text"> Price : ₹324,416.00</p>
                        <p class="card-text"> Weight: 40 Grams</p>
                      </div>
                    </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A38%3A25.277Z-157.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">LAXMI FANCY </p>
                        <p class="card-text"> Price : ₹308,196.00</p>
                        <p class="card-text"> Weight: 38 Grams</p>
                      </div>
                    </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A34%3A40.760Z-156.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">PEACOCK NECKLACE</p>
                        <p class="card-text"> Price : ₹202,761.00</p>
                        <p class="card-text"> Weight: 25 Grams</p>
                      </div>
                    </div>
              </div>

              
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                  <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A31%3A02.743Z-152.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">PEACOCK</p>
                      <p class="card-text"> Price : ₹202,761.00</p>
                      <p class="card-text"> Weight: 25 Grams</p>
                    </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A27%3A31.971Z-151.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">FANCY</p>
                        <p class="card-text"> Price : ₹283,864.00</p>
                        <p class="card-text"> Weight: 35 Grams</p>
                      </div>
                    </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A26%3A29.108Z-150.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">FANCY</p>
                        <p class="card-text"> Price : ₹283,864.00</p>
                        <p class="card-text"> Weight: 35 Grams</p>
                      </div>
                    </div>
              </div>
            </div> 
          </div>     
</section>

<app-promisesoffice></app-promisesoffice>