<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <a routerLink="/FancyLocketspd">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T11%3A00%3A35.478Z-Screenshot_22-5-2024_162957_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">NEW FANCY LOCKET</p>
                      <p class="card-text"> Price : ₹56,360.00</p>
                      <p class="card-text"> Weight: 7 Grams</p>
                    </div>
                  </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A59%3A38.470Z-lockets%20%2860%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY LOCKET</p>
                        <p class="card-text"> Price : ₹64,412.00</p>
                        <p class="card-text"> Weight: 8 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A58%3A58.876Z-lockets%20%2858%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY LOCKET</p>
                        <p class="card-text"> Price : ₹48,309.00</p>
                        <p class="card-text"> Weight: 6 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A56%3A52.047Z-lockets%20%2857%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY LOCKET</p>
                        <p class="card-text"> Price : ₹40,285.00</p>
                        <p class="card-text"> Weight: 5 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A55%3A48.494Z-lockets%20%2856%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY LOCKET</p>
                        <p class="card-text"> Price : ₹48,309.00</p>
                        <p class="card-text"> Weight: 6 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A53%3A44.767Z-lockets%20%2853%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY LOCKET</p>
                        <p class="card-text"> Price : ₹48,309.00</p>
                        <p class="card-text"> Weight: 6 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A54%3A21.833Z-lockets%20%2854%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY LOCKET</p>
                        <p class="card-text"> Price : ₹48,309.00</p>
                        <p class="card-text"> Weight: 6 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A53%3A03.121Z-lockets%20%2852%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY LOCKET</p>
                        <p class="card-text"> Price : ₹64,412.00</p>
                        <p class="card-text"> Weight: 8 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A51%3A45.627Z-lockets%20%2851%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY LOCKET</p>
                        <p class="card-text"> Price : ₹72,463.00</p>
                        <p class="card-text"> Weight: 9 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A51%3A15.088Z-lockets%20%2850%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY LOCKET</p>
                        <p class="card-text"> Price : ₹56,360.00</p>
                        <p class="card-text"> Weight: 7 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A50%3A02.089Z-lockets%20%2849%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY LOCKET</p>
                        <p class="card-text"> Price : ₹40,258.00</p>
                        <p class="card-text"> Weight: 5 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A49%3A24.192Z-lockets%20%2848%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY LOCKET</p>
                        <p class="card-text"> Price : ₹56,360.00</p>
                        <p class="card-text"> Weight: 7 Grams</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>     
</section>

<app-promisesoffice></app-promisesoffice>