<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <a routerLink="/StoneLocketpd">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T09%3A19%3A24.427Z-LOCKET%20%2843%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Fancy Locket</p>
                      <p class="card-text"> Price : ₹24,319.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                  </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T09%3A18%3A44.941Z-LOCKET%20%2842%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">NEW FANCY Locket</p>
                      <p class="card-text"> Price : ₹24,319.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T09%3A18%3A10.816Z-LOCKET%20%2841%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY Locket</p>
                        <p class="card-text"> Price : ₹24,319.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T08%3A57%3A34.864Z-LOCKET%20%2840%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY Locket</p>
                        <p class="card-text"> Price : ₹24,319.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T08%3A56%3A44.830Z-LOCKET%20%2839%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY Locket</p>
                        <p class="card-text"> Price : ₹32,424.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T08%3A52%3A30.432Z-LOCKET%20%2838%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY Locket</p>
                        <p class="card-text"> Price : ₹40,532.00</p>
                        <p class="card-text"> Weight: 5 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T08%3A51%3A46.073Z-LOCKET%20%2837%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY Locket</p>
                        <p class="card-text"> Price : ₹32,424.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A15%3A29.416Z-LOCKET%20%2836%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY Locket</p>
                        <p class="card-text"> Price : ₹32,424.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A14%3A48.552Z-LOCKET%20%2835%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY Locket</p>
                        <p class="card-text"> Price : ₹32,424.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A13%3A52.280Z-LOCKET%20%2834%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY Locket</p>
                        <p class="card-text"> Price : ₹32,444.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A13%3A00.551Z-LOCKET%20%2833%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY Locket</p>
                        <p class="card-text"> Price : ₹24,332.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A10%3A58.384Z-LOCKET%20%2832%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY Locket</p>
                        <p class="card-text"> Price : ₹32,444.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A10%3A28.233Z-LOCKET%20%2831%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY Locket</p>
                        <p class="card-text"> Price : ₹32,444.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A08%3A22.279Z-LOCKET%20%2830%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY Locket</p>
                        <p class="card-text"> Price : ₹32,444.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A06%3A28.373Z-LOCKET%20%2828%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY Locket</p>
                        <p class="card-text"> Price : ₹24,332.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A05%3A41.999Z-LOCKET%20%2827%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">NEW FANCY Locket</p>
                        <p class="card-text"> Price : ₹32,44.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>
        </div> 
        </div>     
</section>

<app-promisesoffice></app-promisesoffice>