<section class="mt-2 mb-3">
  <div id="carouselExampleIndicators" data-bs-ride="carousel" class="carousel slide pointer-event">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" class="ng-star-inserted" data-bs-slide-to="0" aria-label="Slide 1">
      </button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" class="ng-star-inserted active" aria-current="true">
      </button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item ng-star-inserted">
        <img class="d-block w-100 carouse-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T12%3A39%3A26.763Z-Banner%202.jpg"></div>
        <div class="carousel-item ng-star-inserted active">
          <img class="d-block w-100 carouse-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T12%3A41%3A10.078Z-Ring%20Banner%201.jpg"></div>
        </div>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" class="carousel-control-prev">
          <span aria-hidden="true" class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
        </button>
          <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" class="carousel-control-next">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>

<section class="mt-4 mb-3">
  <div class="container-fluid Purity">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3  pur">
        <div>
          <img class="gif" src="https://matrika.gold/assets/new%20blink.gif">&nbsp;&nbsp;
        </div>
        <div>
          <p class="may">May 09,2024 at 05:09AM<br>
            <span class="live">Live Rates</span>
          </p>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-3 col-sm-3 pur">
        <div>
          <img class="goldbar" src="https://matrika.gold/assets/ingots%201%20(1).png">&nbsp;&nbsp;
        </div>
        <div>
          <p class="may">999 Purity<br>
              <span class="live">24K Gold:</span>
              <span class="gram">₹7372.47/gram</span>
          </p>
      </div>  
    </div>
  
    <div class="col-lg-3 col-md-3 col-sm-3 pur">
      <div>
        <img class="goldbar" src="https://matrika.gold/assets/gold-chain%20(1)%201%20(1).png">&nbsp;&nbsp;
      </div>
      <div>
        <p class="may">916 Purity<br>
            <span class="live">22K Gold:</span>
            <span class="gram1">₹6764.55/gram</span>
        </p>
    </div>  
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 pur">
      <div>
        <img class="goldbar" src="https://matrika.gold/assets/silver%201%20(1).png">&nbsp;&nbsp;
      </div>
      <div>
        <p class="may">999 Purity<br>
            <span class="live">Silver:</span>
            <span class="gram">₹86414.54/1kg</span>
        </p>
    </div>    
      </div>
    </div>
  </div>
</section>

<section class="mt-2 mb-2" >
<div class="container text-center">
  <div>
    <h1>Shop By Categories</h1>
    <p>Explore our curated selection and shop with ease as you navigate through our diverse categories.</p>
    <img class="underbar" src="https://matrika.gold/assets/Frame.png">
  </div>  
  <section class="mt-2 mb-2">
  <div class="row row-cols-2 row-cols-lg-6 row-cols-md-4 g-2 g-lg-3">
    <div class="col">
      <div class="p-3 wrapper">
        <a routerLink="/bajuband">
          <img class="sbc" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-23T04%3A23%3A28.979Z-8.png"></a>
      </div>Baju Band        
    </div>

    <div class="col">
      <div class="p-3 wrapper">
        <a routerLink="/StoneNosePin">
        <img class="sbc" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-27T04%3A28%3A44.110Z-Screenshot_27-4-2024_9583_.jpeg"></a>
      </div>Nose Pin
    </div>

    <div class="col">
      <div class="p-3 wrapper ">
        <a routerLink="/atm">
        <img class="sbc"
          src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-25T07%3A04%3A28.914Z-bangle1.1.png"></a>
      </div>ATM
    </div>

    <div class="col">
      <div class="p-3 wrapper ">
        <a routerLink="/BlackBeeds">
        <img class="sbc" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T05%3A10%3A19.584Z-1.jpg"></a>
      </div>Mangalasuatram
    </div>

    <div class="col">
      <div class="p-3 wrapper">
        <a routerLink="/StoneLocket">
        <img class="sbc" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-10T11%3A46%3A51.090Z-47.jpg"></a>
      </div>Lockets
    </div>

    <div class="col">
      <div class="p-3 wrapper">
        <a routerLink="/Tops">
        <img class="sbc"
          src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-10T11%3A42%3A36.023Z-1%20%2826%29.jpg"></a>
      </div>Earrings
    </div>
    <div class="col">
      <div class="p-3 wrapper">
        <a routerLink="/Antique">
        <img class="sbc" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-10T11%3A39%3A32.888Z-97.jpg"></a>
      </div>Haram
    </div>
    <div class="col">
      <div class="p-3 wrapper">
        <a routerLink="/Jhumka">
        <img class="sbc"
          src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-10T11%3A30%3A31.998Z-T%20%2832%29.jpg"></a>
      </div>Jhumka
    </div>
    <div class="col">
      <div class="p-3 wrapper">
        <a routerLink="/Necklace">
        <img class="sbc"
          src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-10T11%3A29%3A35.942Z-1%20%2832%29.jpg"></a>
      </div>Necklace
    </div>
    <div class="col">
      <div class="p-3 wrapper">
        <a routerLink="/Rings">
        <img class="sbc"
          src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T09%3A24%3A36.622Z-download%20%282%29.jpg"></a>
      </div>Rings
    </div>
    <div class="col">
      <div class="p-3 wrapper">
        <a routerLink="/Bracelets">
        <img class="sbc"
          src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T10%3A13%3A21.977Z-1%20%2824%29.jpeg"></a>
      </div>Bracelets
    </div>
    <div class="col">
      <div class="p-3 wrapper">
        <a routerLink="/Bangles">
        <img class="sbc"
          src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T09%3A59%3A23.830Z-2024-04-20T11_36_09.120Z-bagle1.jpg"></a>
      </div>Bangles
    </div> 
  </div>
</section>
</div>
</section>

<section class="mt-3 mb-2">
<div class="container-fluid text-center">
  <div>
    <h1>Matrika Promises</h1>
    <p>The promises that we'll never break</p>
    <img src="https://matrika.gold/assets/Frame.png" style="width: 200px;">
  </div><br>
  <div class="row g-2 s1 horizontal-scroll">
    <div class="d-flex justify-content-center">
        <div class="col s2">
          <a routerLink="/Matrikapromises">
            <div class="p-3 wrappermp">
                <img src="https://matrika.gold/assets/guaranteed.png">
            </div>
          </a>
            Assured Lifetime Maintenance
        </div>
        <div class="col s2">
          <a routerLink="/Matrikapromises">
            <div class="p-3 wrappermp">
                <img src="https://matrika.gold/assets/gold-ingots%201.png">
            </div>
          </a>
            Purity 24k(999 Purity)
        </div>
        <div class="col s2">
          <a routerLink="/Matrikapromises">
            <div class="p-3 wrappermp">
                <img src="https://matrika.gold/assets/asset.png">
            </div>
          </a>
            Easy Exchange
        </div>
        <div class="col s2">
          <a routerLink="/Matrikapromises">
            <div class="p-3 wrappermp">
                <img src="https://matrika.gold/assets/jewelry%20(8).png">
            </div>
          </a>
            Your Jewellery is Insured
        </div>
        <div class="col s2">
          <a routerLink="/Matrikapromises">
            <div class="p-3 wrappermp scroll">
                <img src="https://matrika.gold/assets/calendar.png">
            </div>
          </a>
            14 Days Return Policy
        </div>
        <div class="col s2">
          <a routerLink="/Matrikapromises">
            <div class="p-3 wrappermp">
                <img src="https://matrika.gold/assets/transparency%20(2).png">
            </div>
          </a>
            guaranteed Buybck
        </div>
        <div class="col s2">
          <a routerLink="/Matrikapromises">
            <div class="p-3 wrappermp">
                <img src="https://matrika.gold/assets/safety.png">
            </div>
          </a>
            Complete Transparency
        </div>
        <div class="col s2">
          <a routerLink="/Matrikapromises">
            <div class="p-3 wrappermp">
                <img src="https://matrika.gold/assets/security%20(3).png">
            </div>
          </a>
            Security
        </div>
    </div>
    </div>
</div>
</section>

<section class="mt-2 mb-2">
<div class="container">
  <div style="text-align: center;">
    <h1>Top Picks For You</h1>
    <p>"Personalized perfection awaits – explore our top picks crafted just for you."</p>
    <img src="https://matrika.gold/assets/Frame.png" style="width: 200px;">
  </div><br>

  <owl-carousel-o [options]="customOptions"> 
    <ng-template carouselSlide>
      <div class="item">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top"
              src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-26T07%3A47%3A12.037Z-1%20%283%29.jpeg">
            <p class="card-title">Fancy Locket</p><span>
              <p>Price:₹20,705.00</p>
            </span>
        </div>
      </div>
      </div>  
    </ng-template>  
    <ng-template carouselSlide>
      <div class="item">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top"
              src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A31%3A19.963Z-1%20%284%29.jpeg">
            <p class="card-title">Exclusive Tops</p><span>
              <p>Price:₹33,518.00</p>
            </span>
          </div>
        </div>
      </div>
    </ng-template> 
    <ng-template carouselSlide>
      <div class="item">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top"
              src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T04%3A57%3A13.470Z-N%20%2884%29.jpeg">
            <p class="card-title">Fancy Nose Pin</p><span>
              <p>Price:4,351.00</p>
            </span>
          </div>
        </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="item">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top"
              src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A32%3A12.795Z-N%20%2887%29.jpeg">
            <p class="card-title">FANCY LOCKETS</p><span>
              <p>Price:₹24,525.00</p>
            </span>
          </div>
        </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="item">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top"
              src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-27T04%3A33%3A11.534Z-Screenshot_27-4-2024_9583_.jpeg">
            <p class="card-title">Wire Nose Pin</p><span>
              <p>Price:₹4,692.00</p>
            </span>
          </div>
        </div>
      </div>
    </ng-template> 
    <ng-template carouselSlide>
      <div class="item">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top"
              src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-25T11%3A24%3A21.907Z-KING%20%20%288%29.jpeg">
            <p class="card-title">KING RING</p><span>
              <p>Price:₹24,525.00</p>
            </span>
          </div>
        </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="item">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top"
              src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A30%3A11.525Z-1%20%2834%29.jpeg">
            <p class="card-title">Nuptial Chain</p><span>
              <p>Price:₹90,707.00</p>
            </span>
          </div>
        </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="item">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top"
              src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A49%3A16.906Z-N%20%2892%29.jpeg">
            <p class="card-title">Fancy Nose Pin</p><span>
              <p>Price:₹4,649.00</p>
            </span>
          </div>
        </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="item">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top"
              src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T04%3A50%3A04.152Z-ask.png">
            <p class="card-title">Mayur Locket</p><span>
              <p>Price:₹81,050.00</p>
            </span>
          </div>
        </div>
      </div>
    </ng-template>
  <ng-template carouselSlide scroll2>
    <div class="item">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top"
            src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T04%3A48%3A46.874Z-new%20b.png">
          <p class="card-title">New Qamar Bangle</p><span>
            <p>Price:₹3,24,065.00</p>
          </span>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="item">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top"
            src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A50%3A21.662Z-N%20%2893%29.jpeg">
          <p class="card-title">Fancy Nose Pin</p><span>
            <p>Price:₹4,901.00</p>
          </span>
        </div>
      </div>
    </div>
   </ng-template>
  </owl-carousel-o>
  </div>
</section>  

    <div class="container d-flex justify-content-center">
      <button type="button" class="btn btn-lg"><a routerLink="/ViewAllProducts">View All Products</a></button>
    </div>

<section class="mt-2 mb-2">  
    <div class="container">
      <div class="slide-right" style="text-align: center;">
        <h1>A Special Gift</h1>
        <p>"Unwrap joy with a touch of thoughtfulness – the perfect gift for those who matter most."</p>
        <img src="https://matrika.gold/assets/Frame.png" style="width: 200px;">
      </div>
      <div><br>
        <img class="gift" src="https://matrika.gold/assets/a%20special%20gift.png">
      </div>
    </div>
  <section class="mt-3 mb-2">
    <div class="container text-center">
      <div style="text-align: center;">
        <h1>Desirable Ornaments</h1>
        <p>"Indulge in the allure of desire – adorn yourself with ornaments that captivate and enchant."</p>
        <img src="https://matrika.gold/assets/Frame.png" style="width: 200px;">
      </div>
      <section class="mt-2"> 
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img class="do-img" src="https://matrika.gold/assets/Desirable%20Ornaments%201.png">
            <img class="do-img1" src="https://matrika.gold/assets/Desirable%20Ornaments%205.png">
          </div>
          <div class="col-md-3">
            <img class="do-img2" src="https://matrika.gold/assets/Desirable%20Ornaments%206.png">
          </div>
          <div class="col-md-6">
            <img class="do-img3" src="https://matrika.gold/assets/Desirable%20Ornaments%203.png">
            <div class="row">
              <div class="col-md-6">
                <img class="do-img1" src="https://matrika.gold/assets/Desirable%20Ornaments%204.png">
              </div>
              <div class="col-md-6">
                <img class="do-img1" src="https://matrika.gold/assets/Desirable%20Ornaments%202.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
</section>

  <section class="mt-2 mb-2">
    <div class="container text-center">
      <div>
        <h1>New Arrivals</h1>
        <p>"Indulge in the allure of desire – adorn yourself with ornaments that captivate and enchant."</p>
        <img src="https://matrika.gold/assets/Frame.png" style="width: 200px;">
      </div>

      <owl-carousel-o  [options]="customOptions">
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-14T11%3A02%3A42.578Z-LOCKET%20%2893%29.jpeg">
                <p class="card-title">The Modern Locket</p><span>
                  <p>Price:₹32,406.00</p>
                </span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top"
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-14T11%3A02%3A12.536Z-LOCKET%20%2892%29.jpeg">
              <p class="card-title">The Modern Locket</p><span>
                <p>₹32,401.00</p>
              </span>
            </div>
          </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-14T11%3A01%3A33.672Z-LOCKET%20%2891%29.jpeg">
                <p class="card-title">The Modern Locket</p><span>
                  <p>Price:4,351.00</p>
                </span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-14T10%3A59%3A39.592Z-LOCKET%20%2890%29.jpeg">
                <p class="card-title">The Modern Locket</p><span>
                  <p>₹24,297.00</p>
                </span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-14T10%3A58%3A34.247Z-LOCKET%20%2889%29.jpeg">
                <p class="card-title">The Modern Locket</p><span>
                  <p>Price:₹24,301.00</p>
                </span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-14T10%3A57%3A59.658Z-LOCKET%20%2888%29.jpeg">
                <p class="card-title">The Modern Locket</p><span>
                  <p>Price:₹₹32,407.00</p>
                </span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item mx-2">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-14T10%3A57%3A32.386Z-LOCKET%20%2887%29.jpeg">
                <p class="card-title">The Modern Locket</p><span>
                  <p>Price:₹90,707.00</p>
                </span>
              </div>
            </div>
          </div>  
        </ng-template>
        <ng-template carouselSlide>
        <div class="item">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top"
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-26T07%3A47%3A12.037Z-1%20%283%29.jpeg">
              <p class="card-title">Fancy Locket</p><span>
                <p>Price:₹40,512.00</p>
              </span>
            </div>
          </div>
        </div>
        </ng-template>
        <ng-template carouselSlide>
        <div class="item">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top"
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-14T10%3A56%3A14.713Z-LOCKET%20%2886%29.jpeg">
              <p class="card-title">The Modern Locket</p><span>
                <p>Price:₹₹24,312.00</p>
              </span>
            </div>
          </div>
        </div>
        </ng-template>
          <ng-template carouselSlide>
            <div class="item">
              <div class="card">
                <div class="card-body">
                  <img class="card-img-top"
                    src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-14T10%3A55%3A26.720Z-LOCKET%20%2885%29.jpeg">
                  <p class="card-title">The Modern Locket</p><span>
                    <p>Price: ₹24,311.00</p>
                  </span>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item">
              <div class="card">
                <div class="card-body">
                  <img class="card-img-top"
                    src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-14T10%3A37%3A52.561Z-LOCKET%20%2884%29.jpeg">
                  <p class="card-title">The Modern Locket</p><span>
                    <p>Price:₹24,300.00</p>
                  </span>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-14T10%3A33%3A53.814Z-LOCKET%20%2882%29.jpeg">
                <p class="card-title">The Modern Locket</p><span>
                  <p>Price:₹32,414.00</p>
                </span>
              </div>
            </div>
          </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>


    <section class="mt-2 mb-2">
    <div class="container text-center">
      <div>
        <h1>Festive & Brides Jewellery</h1>
        <p>“Adorn Yourself with Our Exquisite Festive Jewellery Selection"</p>
        <img src="https://matrika.gold/assets/Frame.png" style="width: 200px;">
      </div><br>
      <div class="container">
        <div class="row">
          <div class="col-md-6 aos-animate" data-aos="flip-let" data-aos-duration="2000">
            <img class="fbj" src="https://matrika.gold/assets/temple.png">
          </div>
          <div class="col-md-6 fest-img">
            <img class="fbj" src="https://matrika.gold/assets/bridal.png">
          </div>
        </div>
      </div>
    </div>
    </section>

    <section class="mt-2 mb-2">
    <div class="container">
      <div style="text-align: center;" >
        <h1>Deal Of The Day</h1>
        <p>“Unwrap Irresistible Deals with Our Exclusive Daily Offers!"</p>
        <img src="https://matrika.gold/assets/Frame.png" style="width: 200px;">
      </div>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-11T12%3A07%3A18.069Z-25.jpg">
                <p class="card-title">NEW Fancy Bracelet</p><span>
                  <p>Price:₹124,299.00</p>
                </span>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T10%3A02%3A00.402Z-j%20Bali%20%2855%29.jpeg">
                <p class="card-title">Fancy J Bali</p>
                <span><p>Price:₹20,705.00</p></span>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T10%3A02%3A00.402Z-j%20Bali%20%2855%29.jpeg">
                <p class="card-title">Fancy J Bali</p>
                <span><p>Price:₹20,705.00</p></span>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T04%3A57%3A13.470Z-N%20%2884%29.jpeg">
                <p class="card-title">Fancy Nose Pin</p>
                <p><span>Price:4,351.00</span></p>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T10%3A01%3A19.871Z-j%20Bali%20%2853%29.jpeg">
                <p class="card-title">Fancy J Bali</p><span>
                  <p>Price:₹13,803.00</p>
                </span>
              </div>
            </div>
          </div>
        </ng-template>  
          <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T09%3A59%3A29.054Z-j%20Bali%20%2852%29.jpeg">
                <p class="card-title">Fancy J Bali</p><span>
                  <p>Price:₹27,607.00</p>
                </span>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T09%3A58%3A33.990Z-j%20Bali%20%2851%29.jpeg">
                <p class="card-title">Fancy J Bali</p><span>
                  <p>Price:₹13,803.00</p>
                </span>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T09%3A55%3A08.293Z-j%20Bali%20%2849%29.jpeg">
                <p class="card-title">Fancy J Bali</p><span>
                  <p>Price:₹27,607.00</p>
                </span>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A49%3A16.906Z-N%20%2892%29.jpeg">
                <p class="card-title">Fancy Nose Pin</p><span>
                  <p>Price:₹4,649.00</p>
                </span>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T04%3A50%3A04.152Z-ask.png">
                <p class="card-title">Mayur Locket</p><span>
                  <p>Price:₹81,050.00</p>
                </span>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T04%3A48%3A46.874Z-new%20b.png">
                <p class="card-title">New Qamar Bangle</p><span>
                  <p>Price:₹3,24,065.00</p>
                </span>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img class="card-img-top"
                  src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A50%3A21.662Z-N%20%2893%29.jpeg">
                <p class="card-title">Fancy Nose Pin</p><span>
                  <p>Price:₹4,901.00</p>
                </span>
              </div>
            </div>
          </div>
        </ng-template>  
        <ng-template carouselSlide>          
        <div class="item">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top"
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T04%3A57%3A13.470Z-N%20%2884%29.jpeg">
              <p class="card-title">Fancy Nose Pin</p><span>
                <p>Price:₹4,308.00</p>
              </span>
            </div>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>        
        <div class="item">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top"
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T08%3A24%3A19.522Z-1%20%2826%29.jpeg">
              <p class="card-title">FANCY LOCKETS</p><span>
                <p>Price:₹24,280.00</p>
              </span>
            </div>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="item">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top"
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T08%3A24%3A19.522Z-1%20%2826%29.jpeg">
              <p class="card-title">FANCY LOCKETS</p><span>
                <p>Price:₹24,280.00</p>
              </span>
            </div>
          </div>
        </div>
        </ng-template>
      </owl-carousel-o>
      </div>  
    </section>
  
    <div class="container d-flex justify-content-center">
      <button type="button" class="btn btn-lg"><a routerLink="/ViewAllProducts"> View All Deals</a></button>
    </div>

    <section class="mt-3 mb-2">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h5>Registered Office</h5>
            <p>Goldsikka Limited #3-5-573, Himayat Nagar, Hyderabad, Telangana,500029,India</p>       
          </div>
    
          <div class="col-md-3">
           <h5>Jewellery Wholesale Shop</h5>
            <p>Goldsikka Limited First Floor #3-5-171, Narayanaguda Nagar, Hyderabad, Telangana,500029,India</p>
            </div>
    
          <div class="col-md-3">
            <h5>Bullion Retail Shop</h5>
            <p>Shop No .01 H No 21-6-60, Mehnadi GalliJanshi Bazar, Charminar, Hyderabad Telangana, 500029,India</p>
          </div>
    
          <div class="col-md-3">
            <h5>Corporate Office</h5>
            <p>Goldsikka Limited Second Floor Ashok Raghupathi Chambers , H.No 1-10-60, Hyderabad Telangana, 500029, India
          </div>
        </div>
      </div>
      </section>