<section class="mt-2 mb-2">
<footer class="footer-background">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>Matrika Collections</p>
          <div class="hline"></div><br>
          <div>
            <p><a  routerLink="/bajuband">Baju Band</a></p>
            <p><a routerLink="/StoneNosePin">Nose Pin</a></p>
            <p><a routerLink="/atm">ATM</a></p>
            <p><a routerLink="/Bangles">Bangles</a></p>
            <p><a routerLink="/BlackBeeds">Mangalasutaram</a></p>
            <p><a routerLink="/StoneLocket">Lockets</a></p>
            <p><a routerLink="/Tops">Earrings</a></p>
            <p><a routerLink="/Antique">Haram</a></p>
            <p><a routerLink="/ViewMore">View More</a></p>
          </div>
        </div>

        <div class="col-md-3">
          <p>Matrika Promises</p>
          <div class="hline"></div><br>
          <div>
            <p><a routerLink="/Matrikapromises">Lifetime Maintenance</a></p>
            <p><a routerLink="/Matrikapromises">Purity 24k(999 Purity)</a></p>
            <p><a routerLink="/Matrikapromises">Easy Exchange</a></p>
            <p><a routerLink="/Matrikapromises">Your Jewellery is Insured</a></p>
            <p><a routerLink="/Matrikapromises">Guaranteed Buyback</a></p>
            <p><a routerLink="/Matrikapromises">Complete Transparency</a></p>
            <p><a routerLink="/Matrikapromises">Security</a></p>
          </div>
        </div>

        <div class="col-md-3">
          <p>Contact Us</p>
          <div class="hline"></div><br>
          <div>
            <p><a href="#">Call: 040-4013 7575</a></p>
            <p><a href="#">What’s App: 91600 06724</a></p>
            <p><a href="#">Email: info@goldsikka.com</a></p>
            <p><a href="#">Working Hours: Mon-Sat(9:30 am to 6:30 pm)</a></p>
            <p><a href="#">Note: 2nd & 4th Saturdays Holidays.</a></p>
          </div>
        </div>

        <div class="col-md-3">
          <p>Follow Us</p>
          <div class="hline"></div><br>
          <div class="footer-img">
            <a href="https://www.facebook.com/matrika.goldsikka">
              <img src="/assets/footer/facebook.png"></a>
            <a href="https://www.instagram.com/matrika_goldsikka/">
              <img src="/assets/footer/instagram.png"></a>
            <a href="https://www.youtube.com/@matrika_goldsikka">
              <img src="assets/footer/youtube.png"></a>
            <a href="https://www.linkedin.com/company/goldsikkalimited/">
              <img src="assets/footer/linkedin.png"></a>
            <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fmatrika_gs">
              <img src="assets/footer/twitter.png" class="twit"></a>
            <a href="https://in.pinterest.com/matrika_goldsikka/">
              <img src="assets/footer/pinterest.png" ></a>
          </div>
        </div>
      </div>
    </div><br>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="fs-5" style="font-weight: bold;">
            <p>2023-2024 Goldsikka Ltd.Design by:&nbsp;&nbsp;&nbsp;
              <span><a href="https://xyug.in/" style="text-decoration: none; color: rgb(226, 151, 22);"
                  target="_blank">X-YUG Technologies</a></span>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <h5>We Accept:&nbsp;&nbsp;
            <img class="pay-img" src="https://matrika.gold/assets/visa.svg1.png">
            <img class="pay-img" src="https://matrika.gold/assets/master_card.svg1.png">
            <img class="pay-img" src="https://matrika.gold/assets/paytm.svg1.png">
            <img class="pay-img" src="https://matrika.gold/assets/paypal.svg1.png">
            <img class="pay-img" src="https://matrika.gold/assets/cod.svg1.png">
            <img class="pay-img" src="https://matrika.gold/assets/rupay.svg1.png">
            <img class="pay-img" src="https://matrika.gold/assets/american_express.svg1.png">
          </h5>
        </div>
      </div>
    </div>
  </footer>
  </section>