<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-3">
              <a routerLink="/FancyEarringspd">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T04%3A51%3A58.472Z-fancy%20%20%2860%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy Earrings</p>
                        <p class="card-text"> Price : ₹48,425.00</p>
                        <p class="card-text"> Weight: 6 Grams</p>
                    </div>
                  </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T04%3A51%3A16.127Z-fancy%20%20%2859%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy Earrings</p>
                        <p class="card-text"> Price : ₹40,354.00</p>
                        <p class="card-text"> Weight: 5 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T04%3A50%3A34.430Z-fancy%20%20%2858%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy Earrings</p>
                        <p class="card-text"> Price : ₹80,710.00</p>
                        <p class="card-text"> Weight: 10 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T04%3A49%3A48.064Z-fancy%20%20%2857%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy Earrings</p>
                        <p class="card-text"> Price : ₹40,354.00</p>
                        <p class="card-text"> Weight: 5 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T04%3A49%3A20.464Z-fancy%20%20%2856%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy Earrings</p>
                        <p class="card-text"> Price : ₹32,283.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T04%3A48%3A27.875Z-fancy%20%20%2855%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy Earrings</p>
                        <p class="card-text"> Price : ₹56,498.00</p>
                        <p class="card-text"> Weight: 7 Grams</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T04%3A47%3A15.271Z-fancy%20%20%2854%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy Earrings</p>
                        <p class="card-text"> Price : ₹40,354.00</p>
                        <p class="card-text"> Weight: 5 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src= "https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T04%3A46%3A05.226Z-fancy%20%20%2853%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy Earrings</p>
                        <p class="card-text"> Price : ₹48,421.00</p>
                        <p class="card-text"> Weight: 6 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T04%3A43%3A43.951Z-fancy%20%20%2852%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy Earrings</p>
                        <p class="card-text"> Price : ₹56,493.00</p>
                        <p class="card-text"> Weight: 7 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T04%3A42%3A59.472Z-fancy%20%20%2851%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy Earrings</p>
                        <p class="card-text"> Price : ₹48,423.00</p>
                        <p class="card-text"> Weight: 6 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T04%3A42%3A25.119Z-fancy%20%20%2850%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy Earrings</p>
                        <p class="card-text"> Price : ₹64,655.00</p>
                        <p class="card-text"> Weight: 8 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T04%3A41%3A19.679Z-fancy%20%20%2849%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy Earrings</p>
                        <p class="card-text"> Price : ₹40,352.00</p>
                        <p class="card-text"> Weight: 5 Grams</p>
                    </div>
                </div>
            </div>
        </div>   
    </div>   
</section>

<app-promisesoffice></app-promisesoffice>