<section class="mt-3 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="dots">
                    <a routerLink="/Login"><img src="https://matrika.gold/assets/love-simbal.png"></a>
                    <div>
                        <a routerLink="/Login"><img src="https://matrika.gold/assets/bag.png"></a>
                    </div>
                </div>
                <div>
                    <img class="main-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A44%3A26.987Z-Screenshot_15-5-2024_124650_.jpeg">
                </div>                
            </div>

            <div class="col-lg-6 content">
                <h5>ALPHABET UNISEX PENDANT</h5>
                <div class="pro-color">
                    <p>Carat: <span class="pro-color2">22k</span></p>
                </div>
                <div class="pro-color">
                    <p>Brand: <span class="pro-color2">Matrika</span></p>
                </div>
                <div class="pro-color">
                    <p>Weight <span class="pro-color2">4 Grams</span></p>
                </div>
                <div class="pro-color">
                    <p>VA (20%): <span class="pro-color2">₹4,096.00</span></p>
                </div>
                <div class="pro-color">
                    <p>GST(3%): <span class="pro-color2">₹942.00</span></p>
                </div>
                <div class="pro-color">
                    <p>Product Price: <span class="pro-color2">₹27,307.00</span></p>
                </div>

                <div>
                    <p>Size</p>
                    <select class="size">
                        <option>1</option>
                    </select>
                </div>

                <div>
                    <h5 class="price">Totoal Price: ₹32,345.00</h5>
                    <p>(Includes VA%,GST%,StonePrice)</p>
                </div>

                <div>
                    <p>Any Questions? Please Contact us at</p>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <img src="https://matrika.gold/assets/small-whats.png"> 040-23222175 / 040-40137575
                    </div>
                    <div class="col-lg-3">
                        <img src="https://matrika.gold/assets/phone-call.png"> 9160006724
                    </div>
                    <div class="col-lg-4">
                        <p>100% Certified by Internastional Standards</p>
                    </div>
                    
                   </div>

                <div class="bsi content">
                    <img src="https://matrika.gold/assets/bureau-of-indian-standards%201.png">
                    <button class="buynow"><a routerLink="/Login">Buy Now</a></button>
                  </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container content">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <h4 class="pd">Product Details</h4>
                    <div class="col-lg-3">
                        <h5>Basic Information</h5>
                        <div class="info">              
                        <div>
                            <p>Product type:<span>Lockets</span></p>
                        </div>
                        <div>
                            <p>Brand:<span>Matrika</span></p>
                        </div>
                        <div>
                            <p>Discription:<span>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    View
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Description</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                       New Arrive
                                        </div>
                                    </div>
                                    </div>
                                </div>                            
                            </span></p>
                        </div>
                       
                       
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5>Metal Information</h5>
                        <div class="info">              
                        <p>Metal Purity:<span>22k</span></p>
                        <p>Brand:<span>Gold</span></p>
                        <p>Gross Weight (g):<span>4 Grams</span></p>
                    </div>
                </div> 
                <div class="col-lg-6">
                    <h5>Certification Information</h5>
                        <div class="info">              
                        <p>Bureau of India Standards Certificate No:<span>HM/C-6390039720</span></p>
                        <p>Legal Entity Identifier No:<span>894500HECY3CXJW1973W73x</span></p>
                    </div>
                </div>
                </div>                      
            </div>           
        </div>
    </div>
</section>

<section class="mt-2">
    <div style="text-align: center;" >
        <h1>You May Also Like</h1>
        <p>"Unearth a world of possibilities – you may just fall in love with this."</p>
      </div>  
      <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A43%3A30.915Z-Screenshot_15-5-2024_124640_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A42%3A03.147Z-Screenshot_15-5-2024_124631_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹32,367.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A41%3A19.155Z-Screenshot_15-5-2024_124624_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹32,367.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A38%3A49.279Z-Screenshot_15-5-2024_124617_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A38%3A04.223Z-Screenshot_15-5-2024_12468_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A37%3A10.584Z-Screenshot_15-5-2024_12460_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹32,367.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A35%3A24.331Z-Screenshot_15-5-2024_124541_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹32,367.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A34%3A52.416Z-Screenshot_15-5-2024_124532_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹32,367.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A34%3A18.127Z-Screenshot_15-5-2024_124520_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹28,426.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A33%3A48.202Z-Screenshot_15-5-2024_124513_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A33%3A09.712Z-Screenshot_15-5-2024_12455_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹32,367.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A32%3A13.556Z-Screenshot_15-5-2024_124459_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹32,367.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A31%3A30.823Z-Screenshot_15-5-2024_124451_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A30%3A03.454Z-Screenshot_15-5-2024_124444_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A28%3A57.639Z-Screenshot_15-5-2024_124436_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A28%3A13.615Z-Screenshot_15-5-2024_124428_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A27%3A07.101Z-Screenshot_15-5-2024_124422_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A24%3A54.747Z-Screenshot_15-5-2024_124412_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A24%3A26.617Z-Screenshot_15-5-2024_12445_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A23%3A39.049Z-Screenshot_15-5-2024_124358_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A22%3A38.521Z-Screenshot_15-5-2024_124349_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A21%3A54.370Z-Screenshot_15-5-2024_124339_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A20%3A45.752Z-Screenshot_15-5-2024_124326_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-15T07%3A20%3A21.922Z-Screenshot_15-5-2024_124318_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">ALPHABET UNISEX PENDANT</p>
                        <p class="card-text"> Price : ₹24,275.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>         
</section>