<section class="mt-3 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="dots">
                    <a routerLink="/Login"><img src="https://matrika.gold/assets/love-simbal.png"></a>
                    <div>
                        <a routerLink="/Login"><img src="https://matrika.gold/assets/bag.png"></a>
                    </div>
                </div>
                <div>
                    <img class="main-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T12%3A02%3A28.003Z-lock%20%2811%29.jpeg">
                </div>                
            </div>

            <div class="col-lg-6 content">
                <h5>Red Rose Locket</h5>
                <div class="pro-color">
                    <p>Carat: <span class="pro-color2">22k</span></p>
                </div>
                <div class="pro-color">
                    <p>Brand: <span class="pro-color2">Matrika</span></p>
                </div>
                <div class="pro-color">
                    <p>Weight <span class="pro-color2">2 Grams</span></p>
                </div>
                <div class="pro-color">
                    <p>VA (20%): <span class="pro-color2">₹2,721.00</span></p>
                </div>
                <div class="pro-color">
                    <p>GST(3%): <span class="pro-color2">₹490.00</span></p>
                </div>
                <div class="pro-color">
                    <p>Product Price: <span class="pro-color2">₹13,606.00</span></p>
                </div>

                <div>
                    <p>Size</p>
                    <select class="size">
                        <option>1</option>
                    </select>
                </div>

                <div>
                    <h5 class="price">Totoal Price: ₹16,817.00</h5>
                    <p>(Includes VA%,GST%,StonePrice)</p>
                </div>

                <div>
                    <p>Any Questions? Please Contact us at</p>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <img src="https://matrika.gold/assets/small-whats.png"> 040-23222175 / 040-40137575
                    </div>
                    <div class="col-lg-3">
                        <img src="https://matrika.gold/assets/phone-call.png"> 9160006724
                    </div>
                    <div class="col-lg-4">
                        <p>100% Certified by Internastional Standards</p>
                    </div>
                    
                   </div>

                <div class="bsi content">
                    <img src="https://matrika.gold/assets/bureau-of-indian-standards%201.png">
                    <button class="buynow"><a routerLink="/Login">Buy Now</a></button>
                  </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container content">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <h4 class="pd">Product Details</h4>
                    <div class="col-lg-3">
                        <h5>Basic Information</h5>
                        <div class="info">              
                        <div>
                            <p>Product type:<span>Lockets</span></p>
                        </div>
                        <div>
                            <p>Brand:<span>Matrika</span></p>
                        </div>
                        <div>
                            <p>Discription:<span>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    View
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Description</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                       New Arrive
                                        </div>
                                    </div>
                                    </div>
                                </div>                            
                            </span></p>
                        </div>
                       
                       
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5>Metal Information</h5>
                        <div class="info">              
                        <p>Metal Purity:<span>22k</span></p>
                        <p>Brand:<span>Gold</span></p>
                        <p>Gross Weight (g):<span>2 Grams</span></p>
                    </div>
                </div> 
                <div class="col-lg-6">
                    <h5>Certification Information</h5>
                        <div class="info">              
                        <p>Bureau of India Standards Certificate No:<span>HM/C-6390039720</span></p>
                        <p>Legal Entity Identifier No:<span>894500HECY3CXJW1973W73x</span></p>
                    </div>
                </div>
                </div>                      
            </div>           
        </div>
    </div>
</section>

<section class="mt-2">
    <div style="text-align: center;" >
        <h1>You May Also Like</h1>
        <p>"Unearth a world of possibilities – you may just fall in love with this."</p>
      </div>  
      <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T11%3A32%3A30.098Z-lock%20%289%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹16,835.00</p>
                        <p class="card-text"> Weight: 2 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A49%3A21.075Z-lock%20%288%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹16,835.00</p>
                        <p class="card-text"> Weight: 2 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A46%3A50.473Z-lock%20%287%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹25,254.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A44%3A41.865Z-lock%20%286%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹16,835.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A43%3A33.649Z-lock%20%285%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹8,418.00</p>
                        <p class="card-text"> Weight: 1 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A42%3A04.531Z-lock%20%284%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹8,068.00</p>
                        <p class="card-text"> Weight: 1 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A41%3A27.763Z-lock%20%283%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹8,068.00</p>
                        <p class="card-text"> Weight: 1 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A39%3A48.481Z-lock%20%282%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹8,068.00</p>
                        <p class="card-text"> Weight: 1 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A39%3A09.481Z-lock%20%281%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹8,068.00</p>
                        <p class="card-text"> Weight: 1 Grams</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>         
</section>