<app-imgcontent></app-imgcontent>

<section class="mt-3 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                  <a routerLink="/Banglespd">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-04T05%3A19%3A57.884Z-Banglesss%403x.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Mayut Bangle</p>
                      <p class="card-text"> Price : ₹584,331.00</p>
                      <p class="card-text"> Weight: 68 Grams</p>
                    </div>
                  </a>
                  </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-04T05%3A18%3A48.128Z-Banglesss%20222%403x.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Qamar Bangle</p>
                      <p class="card-text"> Price : ₹266,102,323.00</p>
                      <p class="card-text"> Weight: 33 Grams</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card" style="width: 18rem;">
                    <img clas src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T11%3A38%3A16.030Z-bagle1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Bangle<p>
                      <p class="card-text"> Price : ₹193,529.00</p>
                      <p class="card-text"> Weight: 24 Grams</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>     
</section>

<app-promisesoffice></app-promisesoffice>