<section class="mt-3 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="dots">
                    <a routerLink="/Login"><img src="https://matrika.gold/assets/love-simbal.png"></a>
                    <div>
                        <a routerLink="/Login"><img src="https://matrika.gold/assets/bag.png"></a>
                    </div>
                </div>
                <div>
                    <img class="main-img top-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A33%3A15.366Z-1%20%282%29.jpeg">
                </div>                
            </div>

            <div class="col-lg-6 content">
                <h5>Exclusive Tops</h5>
                <div class="pro-color">
                    <p>Carat: <span class="pro-color2">22k</span></p>
                </div>
                <div class="pro-color">
                    <p>Brand: <span class="pro-color2">Matrika</span></p>
                </div>
                <div class="pro-color">
                    <p>Weight <span class="pro-color2">4.3 Grams</span></p>
                </div>
                <div class="pro-color">
                    <p>VA (20%): <span class="pro-color2">₹4,394.00</span></p>
                </div>
                <div class="pro-color">
                    <p>GST(3%): <span class="pro-color2">₹1,011.00</span></p>
                </div>
                <div class="pro-color">
                    <p>Product Price: <span class="pro-color2">₹29,296.00</span></p>
                </div>

                <div>
                    <p>Size</p>
                    <select class="size">
                        <option>1</option>
                    </select>
                </div>

                <div>
                    <h5 class="price">Totoal Price: ₹34,701.00</h5>
                    <p>(Includes VA%,GST%,StonePrice)</p>
                </div>

                <div>
                    <p>Any Questions? Please Contact us at</p>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <img src="https://matrika.gold/assets/small-whats.png"> 040-23222175 / 040-40137575
                    </div>
                    <div class="col-lg-3">
                        <img src="https://matrika.gold/assets/phone-call.png"> 9160006724
                    </div>
                    <div class="col-lg-4">
                        <p>100% Certified by Internastional Standards</p>
                    </div>
                    
                   </div>

                <div class="bsi content">
                    <img src="https://matrika.gold/assets/bureau-of-indian-standards%201.png">
                    <button class="buynow"><a routerLink="/Login">Buy Now</a></button>
                  </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container content">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <h4 class="pd">Product Details</h4>
                    <div class="col-lg-3">
                        <h5>Basic Information</h5>
                        <div class="info">              
                        <div>
                            <p>Product type:<span>Earring</span></p>
                        </div>
                        <div>
                            <p>Brand:<span>Matrika</span></p>
                        </div>
                        <div>
                            <p>Discription:<span>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    View
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Description</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                       New Arrive
                                        </div>
                                    </div>
                                    </div>
                                </div>                            
                            </span></p>
                        </div>
                       
                       
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5>Metal Information</h5>
                        <div class="info">              
                        <p>Metal Purity:<span>22k</span></p>
                        <p>Brand:<span>Gold</span></p>
                        <p>Gross Weight (g):<span>4.3 Grams</span></p>
                    </div>
                </div> 
                <div class="col-lg-6">
                    <h5>Certification Information</h5>
                        <div class="info">              
                        <p>Bureau of India Standards Certificate No:<span>HM/C-6390039720</span></p>
                        <p>Legal Entity Identifier No:<span>894500HECY3CXJW1973W73x</span></p>
                    </div>
                </div>
                </div>                      
            </div>           
        </div>
    </div>
</section>

<section class="mt-2">
    <div style="text-align: center;" >
        <h1>You May Also Like</h1>
        <p>"Unearth a world of possibilities – you may just fall in love with this."</p>
      </div>  
      <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A32%3A25.433Z-1%20%283%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                      <p class="card-text"> Price : ₹33,053.00</p>
                      <p class="card-text"> Weight: 4.1 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A31%3A19.963Z-1%20%284%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Exclusive Tops</p>
                      <p class="card-text"> Price : ₹33,053.00</p>
                      <p class="card-text"> Weight: 4.1 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A30%3A19.652Z-1%20%285%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹31,440.00</p>
                        <p class="card-text"> Weight: 3.9 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A29%3A22.764Z-1%20%286%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹36,277.00</p>
                        <p class="card-text"> Weight: 4.5 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A27%3A40.312Z-1%20%287%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹20,154.00</p>
                        <p class="card-text"> Weight: 2.5 Grams</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A26%3A44.171Z-1%20%288%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹30,663.00</p>
                        <p class="card-text"> Weight: 3.8 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src= "https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A24%3A53.580Z-1%20%289%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹33,858.00</p>
                        <p class="card-text"> Weight: 4.2 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A22%3A45.650Z-1%20%2810%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹29,021.00</p>
                        <p class="card-text"> Weight: 3.6 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A21%3A49.816Z-1%20%2811%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹24,184.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A20%3A38.079Z-1%20%2812%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹32,245.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A19%3A44.946Z-1%20%2813%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹31,440.00</p>
                        <p class="card-text"> Weight: 3.9 Grams</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>         
</section>