<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <a routerLink="/Topspd">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A33%3A15.366Z-1%20%282%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Exclusive Tops</p>
                      <p class="card-text"> Price : ₹34,665.00</p>
                      <p class="card-text"> Weight: 4.3 Grams</p>
                    </div>
                  </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A32%3A25.433Z-1%20%283%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                      <p class="card-text"> Price : ₹33,053.00</p>
                      <p class="card-text"> Weight: 4.1 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A31%3A19.963Z-1%20%284%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Exclusive Tops</p>
                      <p class="card-text"> Price : ₹33,053.00</p>
                      <p class="card-text"> Weight: 4.1 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A30%3A19.652Z-1%20%285%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹31,440.00</p>
                        <p class="card-text"> Weight: 3.9 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A29%3A22.764Z-1%20%286%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹36,277.00</p>
                        <p class="card-text"> Weight: 4.5 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A27%3A40.312Z-1%20%287%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹20,154.00</p>
                        <p class="card-text"> Weight: 2.5 Grams</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A26%3A44.171Z-1%20%288%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹30,663.00</p>
                        <p class="card-text"> Weight: 3.8 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src= "https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A24%3A53.580Z-1%20%289%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹33,858.00</p>
                        <p class="card-text"> Weight: 4.2 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A22%3A45.650Z-1%20%2810%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹29,021.00</p>
                        <p class="card-text"> Weight: 3.6 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A21%3A49.816Z-1%20%2811%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹24,184.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A20%3A38.079Z-1%20%2812%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹32,245.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-19T09%3A19%3A44.946Z-1%20%2813%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Exclusive Tops</p>
                        <p class="card-text"> Price : ₹31,440.00</p>
                        <p class="card-text"> Weight: 3.9 Grams</p>
                    </div>
                </div>
            </div>
        </div>   
    </div>   
</section>

<app-promisesoffice></app-promisesoffice>