<section class="mt-3 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="dots">
                    <a routerLink="/Login"><img src="https://matrika.gold/assets/love-simbal.png"></a>
                    <div>
                        <a routerLink="/Login"><img src="https://matrika.gold/assets/bag.png"></a>
                    </div>
                </div>
                <div>
                    <img class="main-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A51%3A14.718Z-161.jpg">
                </div>                
            </div>

            <div class="col-lg-6 content">
                <h5>FANCY NECKLACE SET</h5>
                <div class="pro-color">
                    <p>Carat: <span class="pro-color2">22k</span></p>
                </div>
                <div class="pro-color">
                    <p>Brand: <span class="pro-color2">Matrika</span></p>
                </div>
                <div class="pro-color">
                    <p>Weight <span class="pro-color2">65 Grams</span></p>
                </div>
                <div class="pro-color">
                    <p>VA (20%): <span class="pro-color2">₹66,714.00</span></p>
                </div>
                <div class="pro-color">
                    <p>GST(3%): <span class="pro-color2">₹15,344.00</span></p>
                </div>
                <div class="pro-color">
                    <p>Product Price: <span class="pro-color2">₹444,762.00</span></p>
                </div>

                <div>
                    <p>Size</p>
                    <select class="size">
                        <option>9</option>
                    </select>
                </div>

                <div>
                    <h5 class="price">Totoal Price: ₹526,820.00</h5>
                    <p>(Includes VA%,GST%,StonePrice)</p>
                </div>

                <div>
                    <p>Any Questions? Please Contact us at</p>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <img src="https://matrika.gold/assets/small-whats.png"> 040-23222175 / 040-40137575
                    </div>
                    <div class="col-lg-3">
                        <img src="https://matrika.gold/assets/phone-call.png"> 9160006724
                    </div>
                    <div class="col-lg-4">
                        <p>100% Certified by Internastional Standards</p>
                    </div>
                    
                   </div>

                <div class="bsi content">
                    <img src="https://matrika.gold/assets/bureau-of-indian-standards%201.png">
                    <button class="buynow"><a routerLink="/Login">Buy Now</a></button>
                  </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container content">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <h4 class="pd">Product Details</h4>
                    <div class="col-lg-3">
                        <h5>Basic Information</h5>
                        <div class="info">              
                        <div>
                            <p>Product type:<span>NECKLACE</span></p>
                        </div>
                        <div>
                            <p>Brand:<span>Matrika</span></p>
                        </div>
                        <div>
                            <p>Discription:<span>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    View
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Description</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                       New Arrive
                                        </div>
                                    </div>
                                    </div>
                                </div>                            
                            </span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5>Metal Information</h5>
                        <div class="info">              
                        <p>Metal Purity:<span>22k</span></p>
                        <p>Brand:<span>Gold</span></p>
                        <p>Gross Weight (g):<span>65 Grams</span></p>
                    </div>
                </div> 
                <div class="col-lg-6">
                    <h5>Certification Information</h5>
                        <div class="info">              
                        <p>Bureau of India Standards Certificate No:<span>HM/C-6390039720</span></p>
                        <p>Legal Entity Identifier No:<span>894500HECY3CXJW1973W73x</span></p>
                    </div>
                </div>
                </div>                      
            </div>           
        </div>
    </div>
</section>

<section class="mt-2">
    <div style="text-align: center;" >
        <h1>You May Also Like</h1>
        <p>"Unearth a world of possibilities – you may just fall in love with this."</p>
      </div>  
      <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a routerLink="/Jhumkapd">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A48%3A00.906Z-160.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">FANCY LAXMI</p>
                        <p class="card-text"> Price : ₹243,312.00</p>
                        <p class="card-text"> Weight: 30 Grams</p>
                      </div>
                    </div>
                  </a>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                <a routerLink="/Jhumkapd">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A45%3A41.415Z-159.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">FANCY NECKLACE</p>
                        <p class="card-text"> Price : ₹222,155.00</p>
                        <p class="card-text"> Weight: 30 Grams</p>
                      </div>
                    </div>
                  </a>
              </div>

              
              <div class="col-lg-3 col-md-6 col-sm-6">
                <a routerLink="/Jhumkapd">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A41%3A44.478Z-158.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">FANCY LAXMI</p>
                        <p class="card-text"> Price : ₹324,416.00</p>
                        <p class="card-text"> Weight: 40 Grams</p>
                      </div>
                    </div>
                  </a>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                <a routerLink="/Jhumkapd">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A38%3A25.277Z-157.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">LAXMI FANCY </p>
                        <p class="card-text"> Price : ₹308,196.00</p>
                        <p class="card-text"> Weight: 38 Grams</p>
                      </div>
                    </div>
                  </a>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                <a routerLink="/Jhumkapd">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A34%3A40.760Z-156.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">PEACOCK NECKLACE</p>
                        <p class="card-text"> Price : ₹202,761.00</p>
                        <p class="card-text"> Weight: 25 Grams</p>
                      </div>
                    </div>
                  </a>
              </div>
              
              <div class="col-lg-3 col-md-6 col-sm-6">
                <a routerLink="/Jhumkapd">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A31%3A02.743Z-152.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">PEACOCK</p>
                        <p class="card-text"> Price : ₹202,761.00</p>
                        <p class="card-text"> Weight: 25 Grams</p>
                      </div>
                    </div>
                  </a>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                <a routerLink="/Jhumkapd">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A27%3A31.971Z-151.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">FANCY</p>
                        <p class="card-text"> Price : ₹283,864.00</p>
                        <p class="card-text"> Weight: 35 Grams</p>
                      </div>
                    </div>
                  </a>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6">
                <a routerLink="/Jhumkapd">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T05%3A26%3A29.108Z-150.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-title">FANCY</p>
                        <p class="card-text"> Price : ₹283,864.00</p>
                        <p class="card-text"> Weight: 35 Grams</p>
                      </div>
                    </div>
                  </a>
              </div>
        </div>
      </div>           
</section>