<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-3">
              <a routerLink="/JBalispd">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T09%3A53%3A06.436Z-j%20Bali%20%2847%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy J Bali</p>
                      <p class="card-text"> Price : ₹25,283.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                  </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T09%3A52%3A26.527Z-j%20Bali%20%2846%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy J Bali</p>
                        <p class="card-text"> Price : ₹25,283.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T10%3A01%3A19.871Z-j%20Bali%20%2853%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy J Bali</p>
                        <p class="card-text"> Price : ₹16,855.00</p>
                        <p class="card-text"> Weight: 2 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T09%3A59%3A29.054Z-j%20Bali%20%2852%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy J Bali</p>
                        <p class="card-text"> Price : ₹33,712.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T09%3A58%3A33.990Z-j%20Bali%20%2851%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy J Bali</p>
                        <p class="card-text"> Price : ₹33,712.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T09%3A55%3A59.717Z-j%20Bali%20%2850%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy J Bali</p>
                        <p class="card-text"> Price : ₹16,855.00</p>
                        <p class="card-text"> Weight: 2 Grams</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T09%3A55%3A08.293Z-j%20Bali%20%2849%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy J Bali</p>
                        <p class="card-text"> Price : ₹33,712.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src= "https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T09%3A54%3A26.652Z-j%20Bali%20%2848%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy J Bali</p>
                        <p class="card-text"> Price : ₹33,712.00</p>
                        <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T09%3A53%3A06.436Z-j%20Bali%20%2847%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy J Bali</p>
                        <p class="card-text"> Price : ₹25,283.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T09%3A52%3A26.527Z-j%20Bali%20%2846%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy J Bali</p>
                        <p class="card-text"> Price : ₹25,283.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T09%3A51%3A03.846Z-j%20Bali%20%2845%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy J Bali</p>
                        <p class="card-text"> Price : ₹25,283.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T09%3A50%3A21.262Z-j%20Bali%20%2844%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">Fancy J Bali</p>
                        <p class="card-text"> Price : ₹25,283.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>
        </div>   
    </div>   
</section>

<app-promisesoffice></app-promisesoffice>