<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <a routerLink="/Jhumkapd">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-04T05%3A15%3A03.041Z-Jhumkaaa%403x.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Mayur Jhumka</p>
                      <p class="card-text"> Price : ₹129,879.00</p>
                      <p class="card-text"> Weight: 16 Grams</p>
                    </div>
                  </div>
                </a>
            </div>
        </div> 
    </div>     
</section>

<app-promisesoffice></app-promisesoffice>