<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <a routerLink="/FancyNosePin">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A50%3A21.662Z-N%20%2893%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,880.00</p>
                      <p class="card-text"> Weight: 0.58 Grams</p>
                    </div>
                  </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A49%3A16.906Z-N%20%2892%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,628.00</p>
                      <p class="card-text"> Weight: 0.55 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A40%3A56.303Z-N%20%2891%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,711.00</p>
                      <p class="card-text"> Weight: 0.56 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A39%3A29.582Z-N%20%2890%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,880.00</p>
                      <p class="card-text"> Weight: 0.58 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A34%3A42.893Z-N%20%2889%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,628.00</p>
                      <p class="card-text"> Weight: 0.55 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A33%3A21.889Z-N%20%2888%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,291.00</p>
                      <p class="card-text"> Weight: 0.51 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A32%3A12.795Z-N%20%2887%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,375.00</p>
                      <p class="card-text"> Weight: 0.52 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A30%3A41.211Z-N%20%2886%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,4800.00</p>
                      <p class="card-text"> Weight: 0.58 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A28%3A55.541Z-N%20%2885%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,460.00</p>
                      <p class="card-text"> Weight: 0.53 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T04%3A57%3A13.470Z-N%20%2884%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,291.00</p>
                      <p class="card-text"> Weight: 0.51 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T04%3A56%3A22.746Z-N%20%2883%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,543.00</p>
                      <p class="card-text"> Weight: 0.54 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T04%3A55%3A03.650Z-N%20%2882%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,291.00</p>
                      <p class="card-text"> Weight: 0.51 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T04%3A54%3A18.965Z-N%20%2881%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,628.00</p>
                      <p class="card-text"> Weight: 0.55 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A33%3A21.889Z-N%20%2888%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,291.00</p>
                      <p class="card-text"> Weight: 0.51 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A32%3A12.795Z-N%20%2887%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,375.00</p>
                      <p class="card-text"> Weight: 0.52 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A30%3A41.211Z-N%20%2886%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹4,880.00</p>
                      <p class="card-text"> Weight: 0.58 Grams</p>
                    </div>
                </div>
            </div>

        </div> 
        </div>     
</section>

<app-promisesoffice></app-promisesoffice>