<section>
    <div class="container-fluid bg">
       <div class="box">
            <div>
                <h2>Log In</h2>
                <p>To enjoy a seamless shopping experience</p>
                <img src="https://matrika.gold/assets/Frame.png" style="width: 200px;">
            </div>
            <div>
                <label>Mobile Number</label>
            <input type="tel" id="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" placeholder="Enter Mobile Number" required>
            </div>
            <div>
                <button id="continueButton" class="btn" type="button">Continue</button>
              </div>
              <div class="sign">
                <p>Don not have an account? <span><a routerLink="/Signup">Signup</a></span></p>
              </div>
       </div>
    </div>
</section>

