<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-09T04%3A48%3A46.874Z-new%20b.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Qamar Bangle</p>
                      <p class="card-text"> Price : ₹322,744.00</p>
                      <p class="card-text"> Weight: 40 Grams</p>
                    </div>
                  </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T04%3A52%3A39.688Z-Jhumkaaa%403x.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Mayur Jhumki</p>
                      <p class="card-text"> Price : ₹137,166.00</p>
                      <p class="card-text"> Weight: 17 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T04%3A50%3A04.152Z-ask.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Mayur Locket</p>
                      <p class="card-text"> Price : ₹80,686.00</p>
                      <p class="card-text"> Weight: 10 Grams</p>
                    </div>
                </div>
            </div>
        </div> 
        </div>     
</section>

<app-promisesoffice></app-promisesoffice>