<section class="mt-3 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="dots">
                    <a routerLink="/Login"><img src="https://matrika.gold/assets/love-simbal.png"></a>
                    <div>
                        <a routerLink="/Login"><img src="https://matrika.gold/assets/bag.png"></a>
                    </div>
                </div>
                <div>
                    <img class="main-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T09%3A19%3A24.427Z-LOCKET%20%2843%29.jpeg">
                </div>                
            </div>

            <div class="col-lg-6 content">
                <h5>NEW FANCY LOCKET</h5>
                <div class="pro-color">
                    <p>Carat: <span class="pro-color2">22k</span></p>
                </div>
                <div class="pro-color">
                    <p>Brand: <span class="pro-color2">Matrika</span></p>
                </div>
                <div class="pro-color">
                    <p>Weight <span class="pro-color2">3 Grams</span></p>
                </div>
                <div class="pro-color">
                    <p>VA (20%): <span class="pro-color2">₹3,081.00</span></p>
                </div>
                <div class="pro-color">
                    <p>GST(3%): <span class="pro-color2">₹709.00</span></p>
                </div>
                <div class="pro-color">
                    <p>Product Price: <span class="pro-color2">₹20,539.00</span></p>
                </div>

                <div>
                    <p>Size</p>
                    <select class="size">
                        <option>1</option>
                    </select>
                </div>

                <div>
                    <h5 class="price">Totoal Price: ₹24,329.00</h5>
                    <p>(Includes VA%,GST%,StonePrice)</p>
                </div>

                <div>
                    <p>Any Questions? Please Contact us at</p>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <img src="https://matrika.gold/assets/small-whats.png"> 040-23222175 / 040-40137575
                    </div>
                    <div class="col-lg-3">
                        <img src="https://matrika.gold/assets/phone-call.png"> 9160006724
                    </div>
                    <div class="col-lg-4">
                        <p>100% Certified by Internastional Standards</p>
                    </div>
                    
                   </div>

                <div class="bsi content">
                    <img src="https://matrika.gold/assets/bureau-of-indian-standards%201.png">
                    <button class="buynow"><a routerLink="/Login">Buy Now</a></button>
                  </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container content">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <h4 class="pd">Product Details</h4>
                    <div class="col-lg-3">
                        <h5>Basic Information</h5>
                        <div class="info">              
                        <div>
                            <p>Product type:<span>Locket</span></p>
                        </div>
                        <div>
                            <p>Brand:<span>Matrika</span></p>
                        </div>
                        <div>
                            <p>Discription:<span>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    View
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Description</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                       New Arrive
                                        </div>
                                    </div>
                                    </div>
                                </div>                            
                            </span></p>
                        </div>
                       
                       
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5>Metal Information</h5>
                        <div class="info">              
                        <p>Metal Purity:<span>22k</span></p>
                        <p>Brand:<span>Gold</span></p>
                        <p>Gross Weight (g):<span>3 Grams</span></p>
                    </div>
                </div> 
                <div class="col-lg-6">
                    <h5>Certification Information</h5>
                        <div class="info">              
                        <p>Bureau of India Standards Certificate No:<span>HM/C-6390039720</span></p>
                        <p>Legal Entity Identifier No:<span>894500HECY3CXJW1973W73x</span></p>
                    </div>
                </div>
                </div>                      
            </div>           
        </div>
    </div>
</section>

<section class="mt-2">
    <div style="text-align: center;" >
        <h1>You May Also Like</h1>
        <p>"Unearth a world of possibilities – you may just fall in love with this."</p>
      </div>  
      <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T09%3A18%3A44.941Z-LOCKET%20%2842%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">NEW FANCY Locket</p>
                          <p class="card-text"> Price : ₹24,319.00</p>
                          <p class="card-text"> Weight: 3 Grams</p>
                        </div>
                    </div>
                        
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T09%3A18%3A10.816Z-LOCKET%20%2841%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">NEW FANCY Locket</p>
                            <p class="card-text"> Price : ₹24,319.00</p>
                            <p class="card-text"> Weight: 3 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T08%3A57%3A34.864Z-LOCKET%20%2840%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">NEW FANCY Locket</p>
                            <p class="card-text"> Price : ₹24,319.00</p>
                            <p class="card-text"> Weight: 3 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T08%3A56%3A44.830Z-LOCKET%20%2839%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">NEW FANCY Locket</p>
                            <p class="card-text"> Price : ₹32,424.00</p>
                            <p class="card-text"> Weight: 4 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T08%3A52%3A30.432Z-LOCKET%20%2838%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">NEW FANCY Locket</p>
                            <p class="card-text"> Price : ₹40,532.00</p>
                            <p class="card-text"> Weight: 5 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T08%3A51%3A46.073Z-LOCKET%20%2837%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">NEW FANCY Locket</p>
                            <p class="card-text"> Price : ₹32,424.00</p>
                            <p class="card-text"> Weight: 4 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A15%3A29.416Z-LOCKET%20%2836%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">NEW FANCY Locket</p>
                            <p class="card-text"> Price : ₹32,424.00</p>
                            <p class="card-text"> Weight: 4 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A14%3A48.552Z-LOCKET%20%2835%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">NEW FANCY Locket</p>
                            <p class="card-text"> Price : ₹32,424.00</p>
                            <p class="card-text"> Weight: 4 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A13%3A52.280Z-LOCKET%20%2834%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">NEW FANCY Locket</p>
                            <p class="card-text"> Price : ₹32,444.00</p>
                            <p class="card-text"> Weight: 4 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A13%3A00.551Z-LOCKET%20%2833%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">NEW FANCY Locket</p>
                            <p class="card-text"> Price : ₹24,332.00</p>
                            <p class="card-text"> Weight: 3 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A10%3A58.384Z-LOCKET%20%2832%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">NEW FANCY Locket</p>
                            <p class="card-text"> Price : ₹32,444.00</p>
                            <p class="card-text"> Weight: 4 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A10%3A28.233Z-LOCKET%20%2831%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">NEW FANCY Locket</p>
                            <p class="card-text"> Price : ₹32,444.00</p>
                            <p class="card-text"> Weight: 4 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A08%3A22.279Z-LOCKET%20%2830%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">NEW FANCY Locket</p>
                            <p class="card-text"> Price : ₹32,444.00</p>
                            <p class="card-text"> Weight: 4 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A06%3A28.373Z-LOCKET%20%2828%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">NEW FANCY Locket</p>
                            <p class="card-text"> Price : ₹24,332.00</p>
                            <p class="card-text"> Weight: 4 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-08T07%3A05%3A41.999Z-LOCKET%20%2827%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">NEW FANCY Locket</p>
                            <p class="card-text"> Price : ₹32,44.00</p>
                            <p class="card-text"> Weight: 4 Grams</p>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
      </div>           
</section>