<section class="mt-3 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="dots">
                    <a routerLink="/Login"><img src="https://matrika.gold/assets/love-simbal.png"></a>
                    <div>
                        <a routerLink="/Login"><img src="https://matrika.gold/assets/bag.png"></a>
                    </div>
                </div>
                <div>
                    <img class="main-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-11T12%3A09%3A16.335Z-16.jpg">
                </div>                
            </div>

            <div class="col-lg-6">
                <h5>NEW BRAND BRACELET</h5>
                <div class="pro-color">
                    <p>Carat: <span class="pro-color2">22k</span></p>
                </div>
                <div class="pro-color">
                    <p>Brand: <span class="pro-color2">Matrika</span></p>
                </div>
                <div class="pro-color">
                    <p>Weight <span class="pro-color2">6 Grams</span></p>
                </div>
                <div class="pro-color">
                    <p>VA (20%): <span class="pro-color2">₹7,405.00</span></p>
                </div>
                <div class="pro-color">
                    <p>GST(3%): <span class="pro-color2">₹1,456.00</span></p>
                </div>
                <div class="pro-color">
                    <p>Product Price: <span class="pro-color2">₹41,137.00</span></p>
                </div>

                <div>
                    <p>Size</p>
                    <select class="size">
                        <option>25</option>
                    </select>
                </div>

                <div>
                    <h5 class="price">Totoal Price: ₹49,998.00</h5>
                    <p>(Includes VA%,GST%,StonePrice)</p>
                </div>

                <div>
                    <p>Any Questions? Please Contact us at</p>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <img src="https://matrika.gold/assets/small-whats.png"> 040-23222175 / 040-40137575
                    </div>
                    <div class="col-lg-3">
                        <img src="https://matrika.gold/assets/phone-call.png"> 9160006724
                    </div>
                    <div class="col-lg-4">
                        <p>100% Certified by Internastional Standards</p>
                    </div>
                    
                   </div>

                <div class="bsi content">
                    <img src="https://matrika.gold/assets/bureau-of-indian-standards%201.png">
                    <button class="buynow"><a routerLink="/Login">Buy Now</a></button>
                  </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container content">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <h4 class="pd">Product Details</h4>
                    <div class="col-lg-3">
                        <h5>Basic Information</h5>
                        <div class="info">              
                        <div>
                            <p>Product type:<span>Bracelet</span></p>
                        </div>
                        <div>
                            <p>Brand:<span>Matrika</span></p>
                        </div>
                        <div>
                            <p>Discription:<span>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    View
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Description</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                       New Arrive
                                        </div>
                                    </div>
                                    </div>
                                </div>                            
                            </span></p>
                        </div>
                       
                       
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5>Metal Information</h5>
                        <div class="info">              
                        <p>Metal Purity:<span>22k</span></p>
                        <p>Brand:<span>Gold</span></p>
                        <p>Gross Weight (g):<span>6 Grams</span></p>
                    </div>
                </div> 
                <div class="col-lg-6">
                    <h5>Certification Information</h5>
                        <div class="info">              
                        <p>Bureau of India Standards Certificate No:<span>HM/C-6390039720</span></p>
                        <p>Legal Entity Identifier No:<span>894500HECY3CXJW1973W73x</span></p>
                    </div>
                </div>
                </div>                      
            </div>           
        </div>
    </div>
</section>

<section class="mt-2">
    <div style="text-align: center;" >
        <h1>You May Also Like</h1>
        <p>"Unearth a world of possibilities – you may just fall in love with this."</p>
      </div>  
      <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A30%3A11.525Z-1%20%2834%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹89,998.00</p>
                      <p class="card-text"> Weight: 11 Grams</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A25%3A24.172Z-1%20%2833%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹82,169.00</p>
                      <p class="card-text"> Weight: 10 Grams</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A16%3A40.435Z-1%20%2832%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹73,952.00</p>
                      <p class="card-text"> Weight: 9 Grams</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A15%3A06.745Z-1%20%2831%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹82,169.00</p>
                      <p class="card-text"> Weight: 10 Grams</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A13%3A39.199Z-1%20%2830%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹73,952.00</p>
                      <p class="card-text"> Weight: 9 Grams</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A10%3A16.944Z-1%20%2829%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain/p>
                      <p class="card-text"> Price : ₹65,736.00</p>
                      <p class="card-text"> Weight: 8 Grams</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A07%3A29.128Z-1%20%2828%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain/p>
                      <p class="card-text"> Price : ₹65,736.00</p>
                      <p class="card-text"> Weight: 8 Grams</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A57%3A29.037Z-1%20%2826%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹73,952.00</p>
                      <p class="card-text"> Weight: 9 Grams</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A55%3A25.053Z-1%20%2825%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹73,952.00</p>
                      <p class="card-text"> Weight: 9 Grams</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A55%3A25.053Z-1%20%2825%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹90,387.00</p>
                      <p class="card-text"> Weight: 11 Grams</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A30%3A47.659Z-1%20%2824%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹90,387.00</p>
                      <p class="card-text"> Weight: 11 Grams</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A26%3A27.303Z-1%20%2823%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹90,387.00</p>
                      <p class="card-text"> Weight: 11 Grams</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A25%3A05.063Z-1%20%2822%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹82,169.00</p>
                      <p class="card-text"> Weight: 10 Grams</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A23%3A11.171Z-1%20%2821%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹90,387.00</p>
                      <p class="card-text"> Weight: 11 Grams</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A18%3A41.964Z-1%20%2820%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain/p>
                      <p class="card-text"> Price : ₹82,169.00</p>
                      <p class="card-text"> Weight: 10 Grams</p>
                    </div>
                </div>
            </div>        
        </div>
      </div>           
</section>