<section class="mt-2 mb-2">
    <div class="container text-center">
      <div class="aos-animate aos-init "  style="text-align: center;">
        <h1>Matrika Promises</h1>
        <p class="aos-animate aos-init" data-aos="flip-letf" data-aos-easing="ease-out-cubic" data-aos-duration="2000">The
          promises that we'll never break</p>
        <img src="https://matrika.gold/assets/Frame.png" style="width: 200px;">
      </div><br>
    <section>
        <div class="row g-2 s1 horizontal-scroll">
            <div class="d-flex justify-content-center">
                <div class="col s2">
                  <a routerLink="/Matrikapromises">
                    <div class="p-3 wrappermp">
                        <img src="https://matrika.gold/assets/guaranteed.png">
                    </div>
                  </a>
                    Assured Lifetime Maintenance
                </div>
                <div class="col s2">
                  <a routerLink="/Matrikapromises">
                    <div class="p-3 wrappermp">
                        <img src="https://matrika.gold/assets/gold-ingots%201.png">
                    </div>
                  </a>
                    Purity 24k(999 Purity)
                </div>
                <div class="col s2">
                  <a routerLink="/Matrikapromises">
                    <div class="p-3 wrappermp">
                        <img src="https://matrika.gold/assets/asset.png">
                    </div>
                  </a>
                    Easy Exchange
                </div>
                <div class="col s2">
                  <a routerLink="/Matrikapromises">
                    <div class="p-3 wrappermp">
                        <img src="https://matrika.gold/assets/jewelry%20(8).png">
                    </div>
                  </a>
                    Your Jewellery is Insured
                </div>
                <div class="col s2">
                  <a routerLink="/Matrikapromises">
                    <div class="p-3 wrappermp scroll">
                        <img src="https://matrika.gold/assets/calendar.png">
                    </div>
                  </a>
                    14 Days Return Policy
                </div>
                <div class="col s2">
                  <a routerLink="/Matrikapromises">
                    <div class="p-3 wrappermp">
                        <img src="https://matrika.gold/assets/transparency%20(2).png">
                    </div>
                  </a>
                    guaranteed Buybck
                </div>
                <div class="col s2">
                  <a routerLink="/Matrikapromises">
                    <div class="p-3 wrappermp">
                        <img src="https://matrika.gold/assets/safety.png">
                    </div>
                  </a>
                    Complete Transparency
                </div>
                <div class="col s2">
                  <a routerLink="/Matrikapromises">
                    <div class="p-3 wrappermp">
                        <img src="https://matrika.gold/assets/security%20(3).png">
                    </div>
                  </a>
                    Security
                </div>
            </div>
            </div>
    </section>
    </div>    
</section>

<div class="other-content">
  <section class="mt-2 mb-2">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <h5>Registered Office</h5>
                  <p>Goldsikka Limited #3-5-573, Himayat Nagar, Hyderabad, Telangana,500029,India</p>       
              </div>
              <div class="col-md-3">
                  <h5>Jewellery Wholesale Shop</h5>
                  <p>Goldsikka Limited First Floor #3-5-171, Narayanaguda Nagar, Hyderabad, Telangana,500029,India</p>
              </div>
              <div class="col-md-3">
                  <h5>Bullion Retail Shop</h5>
                  <p>Shop No .01 H No 21-6-60, Mehnadi GalliJanshi Bazar, Charminar, Hyderabad Telangana, 500029,India</p>
              </div>
              <div class="col-md-3">
                  <h5>Corporate Office</h5>
                  <p>Goldsikka Limited Second Floor Ashok Raghupathi Chambers , H.No 1-10-60, Hyderabad Telangana, 500029, India
              </div>
          </div>
      </div>
  </section>
</div>