.wrapper{
    overflow: hidden;
}

.wrappermp{
    overflow: hidden;
    color: black;
    font-size: 14px;
}

.wrappermp img{
    width: 30px;
    height: 30px;
    transition: scale 400ms;
}

.wrapper:hover img{
    scale: 120%;
}

.wrappermp a{
    text-decoration: none;
}

h3{
    color:#630914;
}

.left{
    width: 100%;
}

button{
    text-align: left;
}

p{
    text-align: -webkit-auto
}

.s1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.s2 {
    margin-right: 10px;
    white-space: nowrap; 
}

.horizontal-scroll {
    overflow-x: auto;
    padding-left: 30px; 
    margin-left: -50px; 
    margin-right: -20px; 
}

.horizontal-scroll .s1 {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
    padding-left: 10px; 
}

.horizontal-scroll .s2 {
    margin-right: 10px;
    white-space: nowrap;
}

.horizontal-scroll::-webkit-scrollbar {
    width: 3px; 
}

.horizontal-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 3px; 
}

.horizontal-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@media (min-width: 320px) and (max-width: 768px) {
.s1 {
    display: flex; 
    flex-wrap: nowrap;
    overflow-x: auto; 
    justify-content: flex-start; 
    margin-bottom: 0; 
    margin-left: 0;
}

.s2 {
    margin-right: 10px; 
    flex: 0 0 auto; 
}

.s1 > div {
    scroll-padding-left: 0; 
  }
}
      
        