<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <a routerLink="/Ringspd">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-23T06%3A23%3A18.609Z-Rings%20%281%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Erica Two-Tone Rings</p>
                      <p class="card-text"> Price : ₹25,487.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                  </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A18%3A40.480Z-rings%20%2845%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Double Tone</p>
                      <p class="card-text"> Price : ₹24,425.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A18%3A03.049Z-rings%20%2844%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Double Tone</p>
                      <p class="card-text"> Price : ₹24,425.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A17%3A27.142Z-rings%20%2843%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Double Tone</p>
                      <p class="card-text"> Price : ₹32,568.00</p>
                      <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A16%3A57.488Z-rings%20%2842%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Double Tone</p>
                      <p class="card-text"> Price : ₹24,425.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A16%3A25.974Z-rings%20%2841%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Double Tone</p>
                      <p class="card-text"> Price : ₹24,425.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A14%3A48.426Z-rings%20%2840%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Double Tone</p>
                      <p class="card-text"> Price : ₹32,568.00</p>
                      <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A11%3A27.942Z-rings%20%2838%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Double Tone</p>
                      <p class="card-text"> Price : ₹32,568.00</p>
                      <p class="card-text"> Weight: 4 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A10%3A53.567Z-rings%20%2837%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Double Tone</p>
                      <p class="card-text"> Price : ₹73,952.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A09%3A40.752Z-rings%20%2836%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Double Tone</p>
                      <p class="card-text"> Price : ₹24,425.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A08%3A15.275Z-rings%20%2835%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Doble Tone</p>
                      <p class="card-text"> Price : ₹24,425.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A07%3A39.511Z-rings%20%2834%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Double Tone</p>
                      <p class="card-text"> Price : ₹24,425.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A06%3A51.480Z-rings%20%2833%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Double Tone</p>
                      <p class="card-text"> Price : ₹24,425.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A06%3A11.239Z-rings%20%2832%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Double Tone</p>
                      <p class="card-text"> Price : ₹24,425.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A04%3A47.488Z-rings%20%2831%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Double Tone</p>
                      <p class="card-text"> Price : ₹24,425.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-21T09%3A03%3A36.751Z-rings%20%2830%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Double Tone</p>
                      <p class="card-text"> Price : ₹24,425.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>
        </div> 
        </div>     
</section>

<app-promisesoffice></app-promisesoffice>