<section>
    <div class="container mb-3">
        <div class="row">
            <div class="col-lg-6">
                <div class="dots">
                    <a routerLink="/Login"><img src="https://matrika.gold/assets/love-simbal.png"></a>
                    <div>
                        <a routerLink="/Login"><img src="https://matrika.gold/assets/bag.png"></a>
                    </div>
                </div>
                <div>
                    <img class="main-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A50%3A21.662Z-N%20%2893%29.jpeg">
                </div>                
            </div>

            <div class="col-lg-6 content">
                <h5>Fancy Nose Pin</h5>
                <div class="pro-color">
                    <p>Carat: <span class="pro-color2">22k</span></p>
                </div>
                <div class="pro-color">
                    <p>Brand: <span class="pro-color2">Matrika</span></p>
                </div>
                <div class="pro-color">
                    <p>Weight <span class="pro-color2">0.58 Grams</span></p>
                </div>
                <div class="pro-color">
                    <p>VA (20%): <span class="pro-color2">₹729.00</span></p>
                </div>
                <div class="pro-color">
                    <p>GST(3%): <span class="pro-color2">₹143.00</span></p>
                </div>
                <div class="pro-color">
                    <p>Product Price: <span class="pro-color2">₹3,962.00</span></p>
                </div>

                <div>
                    <p>Size</p>
                    <select class="size">
                        <option>1</option>
                    </select>
                </div>

                <div>
                    <h5 class="price">Totoal Price: ₹4,897.00</h5>
                    <p>(Includes VA%,GST%,StonePrice)</p>
                </div>

                <div>
                    <p>Any Questions? Please Contact us at</p>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <img src="https://matrika.gold/assets/small-whats.png"> 040-23222175 / 040-40137575
                    </div>
                    <div class="col-lg-3">
                        <img src="https://matrika.gold/assets/phone-call.png"> 9160006724
                    </div>
                    <div class="col-lg-4">
                        <p>100% Certified by Internastional Standards</p>
                    </div>
                    
                   </div>

                <div class="bsi content">
                    <img src="https://matrika.gold/assets/bureau-of-indian-standards%201.png">
                    <button class="buynow"><a routerLink="/Login">Buy Now</a></button>
                  </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container content">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <h4 class="pd">Product Details</h4>
                    <div class="col-lg-3">
                        <h5>Basic Information</h5>
                        <div class="info">              
                        <div>
                            <p>Product type:<span>Nose Pins</span></p>
                        </div>
                        <div>
                            <p>Brand:<span>Matrika</span></p>
                        </div>
                        <div>
                            <p>Discription:<span>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    View
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Description</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                       New Arrive
                                        </div>
                                    </div>
                                    </div>
                                </div>                            
                            </span></p>
                        </div>
                       
                       
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5>Metal Information</h5>
                        <div class="info">              
                        <p>Metal Purity:<span>22k</span></p>
                        <p>Brand:<span>Gold</span></p>
                        <p>Gross Weight (g):<span>0.58 Grams</span></p>
                    </div>
                </div> 
                <div class="col-lg-6">
                    <h5>Certification Information</h5>
                        <div class="info">              
                        <p>Bureau of India Standards Certificate No:<span>HM/C-6390039720</span></p>
                        <p>Legal Entity Identifier No:<span>894500HECY3CXJW1973W73x</span></p>
                    </div>
                </div>
                </div>                      
            </div>           
        </div>
    </div>
</section>

<section class="mt-2">
    <div style="text-align: center;" >
        <h1>You May Also Like</h1>
        <p>"Unearth a world of possibilities – you may just fall in love with this."</p>
      </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A50%3A21.662Z-N%20%2893%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,880.00</p>
                          <p class="card-text"> Weight: 0.58 Grams</p>
                        </div>
                      </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A49%3A16.906Z-N%20%2892%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,628.00</p>
                          <p class="card-text"> Weight: 0.55 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A40%3A56.303Z-N%20%2891%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,711.00</p>
                          <p class="card-text"> Weight: 0.56 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A39%3A29.582Z-N%20%2890%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,880.00</p>
                          <p class="card-text"> Weight: 0.58 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A34%3A42.893Z-N%20%2889%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,628.00</p>
                          <p class="card-text"> Weight: 0.55 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A33%3A21.889Z-N%20%2888%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,291.00</p>
                          <p class="card-text"> Weight: 0.51 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A32%3A12.795Z-N%20%2887%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,375.00</p>
                          <p class="card-text"> Weight: 0.52 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A30%3A41.211Z-N%20%2886%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,4800.00</p>
                          <p class="card-text"> Weight: 0.58 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A28%3A55.541Z-N%20%2885%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,460.00</p>
                          <p class="card-text"> Weight: 0.53 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T04%3A57%3A13.470Z-N%20%2884%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,291.00</p>
                          <p class="card-text"> Weight: 0.51 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T04%3A56%3A22.746Z-N%20%2883%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,543.00</p>
                          <p class="card-text"> Weight: 0.54 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T04%3A55%3A03.650Z-N%20%2882%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,291.00</p>
                          <p class="card-text"> Weight: 0.51 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T04%3A54%3A18.965Z-N%20%2881%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,628.00</p>
                          <p class="card-text"> Weight: 0.55 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A33%3A21.889Z-N%20%2888%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,291.00</p>
                          <p class="card-text"> Weight: 0.51 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A32%3A12.795Z-N%20%2887%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,375.00</p>
                          <p class="card-text"> Weight: 0.52 Grams</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-29T05%3A30%3A41.211Z-N%20%2886%29.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-title">Fancy Nose Pin</p>
                          <p class="card-text"> Price : ₹4,880.00</p>
                          <p class="card-text"> Weight: 0.58 Grams</p>
                        </div>
                    </div>
                </div>
    
            </div> 
            </div>         
</section>