<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <a routerLink="/BlackBeedspd">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A45%3A22.276Z-1%20%2835%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹82,817.00</p>
                      <p class="card-text"> Weight: 10 Grams</p>
                    </div>
                  </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A30%3A11.525Z-1%20%2834%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹89,998.00</p>
                      <p class="card-text"> Weight: 11 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A25%3A24.172Z-1%20%2833%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹82,169.00</p>
                      <p class="card-text"> Weight: 10 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A16%3A40.435Z-1%20%2832%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹73,952.00</p>
                      <p class="card-text"> Weight: 9 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A15%3A06.745Z-1%20%2831%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹82,169.00</p>
                      <p class="card-text"> Weight: 10 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A13%3A39.199Z-1%20%2830%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹73,952.00</p>
                      <p class="card-text"> Weight: 9 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A10%3A16.944Z-1%20%2829%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹65,736.00</p>
                      <p class="card-text"> Weight: 8 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T07%3A07%3A29.128Z-1%20%2828%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹65,736.00</p>
                      <p class="card-text"> Weight: 8 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A57%3A29.037Z-1%20%2826%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹73,952.00</p>
                      <p class="card-text"> Weight: 9 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A55%3A25.053Z-1%20%2825%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹73,952.00</p>
                      <p class="card-text"> Weight: 9 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A55%3A25.053Z-1%20%2825%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹90,387.00</p>
                      <p class="card-text"> Weight: 11 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A30%3A47.659Z-1%20%2824%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹90,387.00</p>
                      <p class="card-text"> Weight: 11 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A26%3A27.303Z-1%20%2823%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹90,387.00</p>
                      <p class="card-text"> Weight: 11 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A25%3A05.063Z-1%20%2822%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹82,169.00</p>
                      <p class="card-text"> Weight: 10 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A23%3A11.171Z-1%20%2821%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain</p>
                      <p class="card-text"> Price : ₹90,387.00</p>
                      <p class="card-text"> Weight: 11 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T06%3A18%3A41.964Z-1%20%2820%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Nuptial Chain/p>
                      <p class="card-text"> Price : ₹82,169.00</p>
                      <p class="card-text"> Weight: 10 Grams</p>
                    </div>
                </div>
            </div>
        </div> 
        </div>     
</section>

<app-promisesoffice></app-promisesoffice>