<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <a routerLink="/RedRoseLocketspd">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T12%3A02%3A28.003Z-lock%20%2811%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">RED ROSE LOCKET</p>
                      <p class="card-text"> Price : ₹16,835.00</p>
                      <p class="card-text"> Weight: 2 Grams</p>
                    </div>
                  </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T11%3A32%3A30.098Z-lock%20%289%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹16,835.00</p>
                        <p class="card-text"> Weight: 2 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A49%3A21.075Z-lock%20%288%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹16,835.00</p>
                        <p class="card-text"> Weight: 2 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A46%3A50.473Z-lock%20%287%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹25,254.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A44%3A41.865Z-lock%20%286%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹16,835.00</p>
                        <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A43%3A33.649Z-lock%20%285%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹8,418.00</p>
                        <p class="card-text"> Weight: 1 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A42%3A04.531Z-lock%20%284%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹8,068.00</p>
                        <p class="card-text"> Weight: 1 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A41%3A27.763Z-lock%20%283%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹8,068.00</p>
                        <p class="card-text"> Weight: 1 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A39%3A48.481Z-lock%20%282%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹8,068.00</p>
                        <p class="card-text"> Weight: 1 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-17T10%3A39%3A09.481Z-lock%20%281%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title">RED ROSE LOCKET</p>
                        <p class="card-text"> Price : ₹8,068.00</p>
                        <p class="card-text"> Weight: 1 Grams</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>     
</section>

<app-promisesoffice></app-promisesoffice>