<app-imgcontent></app-imgcontent>

<section class="mt-3 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6"> 
                <div class="card" style="width: 18rem;">
                  <a routerLink="/haramsetpd">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T06%3A23%3A23.111Z-170.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">RAM PARIVAR SET</p>
                      <p class="card-text"> Price : ₹769,007.00</p>
                      <p class="card-text"> Weight: 95 Grams</p>
                    </div>
                  </a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6"> 
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T06%3A20%3A33.474Z-169.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">UNCUT HAAR SET</p>
                      <p class="card-text"> Price : ₹563,638.00</p>
                      <p class="card-text"> Weight: 70 Grams</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6"> 
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T06%3A18%3A53.579Z-168.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">FANCY CZ HAAR SET</p>
                      <p class="card-text"> Price : ₹563,639.00</p>
                      <p class="card-text"> Weight: 70 Grams</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6"> 
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T06%3A11%3A58.425Z-167.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">UNCUT HAAR SET</p>
                      <p class="card-text"> Price : ₹566,639.00</p>
                      <p class="card-text"> Weight: 70 Grams</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6"> 
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T06%3A06%3A47.998Z-164.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">UNCUT HAAR SET</p>
                      <p class="card-text"> Price : ₹566,639.00</p>
                      <p class="card-text"> Weight: 70 Grams</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6"> 
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T06%3A06%3A47.998Z-164.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">LAXMI HAAR SET</p>
                      <p class="card-text"> Price : ₹647,588.00</p>
                      <p class="card-text"> Weight: 80 Grams</p>
                    </div>
                  </div>
            </div>
        </div>       
    </div>    
</section>

<app-promisesoffice></app-promisesoffice>