<section class="mt-2 mb-2">
    <div class="container text-center">
      <div>
        <h1>Shop By Categories</h1>
        <p>"Explore our curated selection and shop with ease as you navigate through our diverse categories.”</p>
        <img src="https://matrika.gold/assets/Frame.png" style="width: 200px;">
      </div>
      
      <section class="mt-2 mb-2">
        <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3">
          <div class="col">
            <div class="p-3 wrapper">
              <a routerLink="/bajuband">
                <img class="sbc"
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-23T04%3A23%3A28.979Z-8.png"></a>
            </div>Baju Band        
          </div>
      
          <div class="col">
            <div class="p-3 wrapper">
              <a routerLink="/StoneNosePin">
              <img class="sbc"        
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-27T04%3A28%3A44.110Z-Screenshot_27-4-2024_9583_.jpeg"></a>
            </div>Nose Pin
          </div>
      
          <div class="col">
            <div class="p-3 wrapper ">
              <a routerLink="/atm">
              <img class="sbc"
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-25T07%3A04%3A28.914Z-bangle1.1.png"></a>
            </div>ATM
          </div>
      
          <div class="col">
            <div class="p-3 wrapper ">
              <a routerLink="/BlackBeeds">
              <img class="sbc" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-20T05%3A10%3A19.584Z-1.jpg"></a>
            </div>Mangalasuatram
          </div>
      
          <div class="col">
            <div class="p-3 wrapper">
              <a routerLink="/StoneLocket">
              <img class="sbc" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-10T11%3A46%3A51.090Z-47.jpg"></a>
            </div>Lockets
          </div>
      
          <div class="col">
            <div class="p-3 wrapper">
              <a routerLink="/Tops">
              <img class="sbc"
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-10T11%3A42%3A36.023Z-1%20%2826%29.jpg"></a>
            </div>Earrings
          </div>
          <div class="col">
            <div class="p-3 wrapper">
              <a routerLink="/Antique">
              <img class="sbc" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-10T11%3A39%3A32.888Z-97.jpg"></a>
            </div>Haram
          </div>
          <div class="col">
            <div class="p-3 wrapper">
              <a routerLink="/Jhumka">
              <img class="sbc"
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-10T11%3A30%3A31.998Z-T%20%2832%29.jpg"></a>
            </div>Jhumka
          </div>
          <div class="col">
            <div class="p-3 wrapper">
              <a routerLink="/Necklace">
              <img class="sbc"
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-10T11%3A29%3A35.942Z-1%20%2832%29.jpg"></a>
            </div>Necklace
          </div>
          <div class="col">
            <div class="p-3 wrapper">
              <a routerLink="/Rings">
              <img class="sbc"
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-15T09%3A24%3A36.622Z-download%20%282%29.jpg"></a>
            </div>Rings
          </div>
          <div class="col">
            <div class="p-3 wrapper">
              <a routerLink="/Bracelets">
              <img class="sbc"
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T10%3A13%3A21.977Z-1%20%2824%29.jpeg"></a>
            </div>Bracelets
          </div>
          <div class="col">
            <div class="p-3 wrapper">
              <a routerLink="/Bangles">
              <img class="sbc"
                src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T09%3A59%3A23.830Z-2024-04-20T11_36_09.120Z-bagle1.jpg"></a>
            </div>Bangles
          </div>
        </div>
      </section>
    </div>
    </section>

    <app-promisesoffice></app-promisesoffice>