<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
              <a routerLink="/FancyNosePin">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-23T06%3A23%3A18.609Z-Rings%20%281%29.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Erica Two-Tone Ring</p>
                      <p class="card-text"> Price : ₹25,331.00</p>
                      <p class="card-text"> Weight: 3 Grams</p>
                    </div>
                  </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-23T04%3A25%3A20.896Z-8.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Baju Band</p>
                      <p class="card-text"> Price : ₹395,798.00</p>
                      <p class="card-text"> Weight: 45 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T11%3A00%3A35.478Z-Screenshot_22-5-2024_162957_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Fancy Locket</p>
                      <p class="card-text"> Price : ₹56,643.00</p>
                      <p class="card-text"> Weight: 7 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A59%3A38.470Z-lockets%20%2860%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Nose Pin</p>
                      <p class="card-text"> Price : ₹64,736.00</p>
                      <p class="card-text"> Weight: 8 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A58%3A58.876Z-lockets%20%2858%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Fancy Locket</p>
                      <p class="card-text"> Price : ₹48,551.00</p>
                      <p class="card-text"> Weight: 6 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A56%3A52.047Z-lockets%20%2857%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Fancy LOcket</p>
                      <p class="card-text"> Price : ₹40,459.00</p>
                      <p class="card-text"> Weight: 5 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A55%3A48.494Z-lockets%20%2856%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Fancy Locket</p>
                      <p class="card-text"> Price : ₹48,551.00</p>
                      <p class="card-text"> Weight: 6 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A55%3A21.676Z-lockets%20%2855%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Fancy Locket </p>
                      <p class="card-text"> Price : ₹56,643.00</p>
                      <p class="card-text"> Weight: 7 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A54%3A21.833Z-lockets%20%2854%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Fancy Locket</p>
                      <p class="card-text"> Price : ₹48,551.00</p>
                      <p class="card-text"> Weight: 6 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A53%3A44.767Z-lockets%20%2853%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Fancy Locket/p>
                      <p class="card-text"> Price : ₹48,551.00</p>
                      <p class="card-text"> Weight: 6 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A53%3A03.121Z-lockets%20%2852%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Fancy Locket</p>
                      <p class="card-text"> Price : ₹64,736.00</p>
                      <p class="card-text"> Weight: 8 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A51%3A45.627Z-lockets%20%2851%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Fancy Locket </p>
                      <p class="card-text"> Price : ₹72,826.00</p>
                      <p class="card-text"> Weight: 9 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A51%3A15.088Z-lockets%20%2850%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Fancy Locket</p>
                      <p class="card-text"> Price : ₹56,643.00</p>
                      <p class="card-text"> Weight: 7 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A50%3A02.089Z-lockets%20%2849%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Fancy Locket</p>
                      <p class="card-text"> Price : ₹40,459.00</p>
                      <p class="card-text"> Weight: 5 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A49%3A24.192Z-lockets%20%2848%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Fancy LOcket</p>
                      <p class="card-text"> Price : ₹56,643.00</p>
                      <p class="card-text"> Weight: 7 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-22T10%3A48%3A33.366Z-lockets%20%2847%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">New Fancy Locket</p>
                      <p class="card-text"> Price : ₹48,551.00</p>
                      <p class="card-text"> Weight: 6 Grams</p>
                    </div>
                </div>
            </div>

        </div> 
        </div>     
</section>

<app-promisesoffice></app-promisesoffice>