<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <a routerLink="/Braceletspd">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-11T12%3A09%3A16.335Z-16.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">NEW BRAND BRACELET</p>
                      <p class="card-text"> Price : ₹50,035.00</p>
                      <p class="card-text"> Weight: 6 Grams</p>
                    </div>
                  </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-11T12%3A07%3A18.069Z-25.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">NEW FANCY BRACELET</p>
                      <p class="card-text"> Price : ₹146,509.00</p>
                      <p class="card-text"> Weight: 18 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T10%3A17%3A54.074Z-1%20%2835%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Bracelet</p>
                      <p class="card-text"> Price : ₹211,625.00</p>
                      <p class="card-text"> Weight: 26 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T10%3A17%3A03.568Z-1%20%2834%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Bracelet</p>
                      <p class="card-text"> Price : ₹154,649.00</p>
                      <p class="card-text"> Weight: 19 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T10%3A16%3A20.126Z-1%20%2833%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Bracelet</p>
                      <p class="card-text"> Price : ₹109,882.00</p>
                      <p class="card-text"> Weight: 13.5 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T10%3A15%3A31.247Z-1%20%2832%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Braclets</p>
                      <p class="card-text"> Price : ₹109,882.00</p>
                      <p class="card-text"> Weight: 13.5 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T10%3A14%3A37.473Z-1%20%2831%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Bracelet</p>
                      <p class="card-text"> Price : ₹113,952.00</p>
                      <p class="card-text"> Weight: 14 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T07%3A13%3A52.961Z-1%20%2830%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Facny Bracelet/p>
                      <p class="card-text"> Price : ₹105,813.00</p>
                      <p class="card-text"> Weight: 8 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T07%3A13%3A05.445Z-1%20%2829%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Facny Bracelet</p>
                      <p class="card-text"> Price : ₹117,753.00</p>
                      <p class="card-text"> Weight: 14.5 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T07%3A11%3A54.403Z-1%20%2828%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Bracelet</p>
                      <p class="card-text"> Price : ₹94,174.00</p>
                      <p class="card-text"> Weight: 11.57 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T07%3A10%3A49.477Z-1%20%2827%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Facny Braclets/p>
                      <p class="card-text"> Price : ₹134,301.00</p>
                      <p class="card-text"> Weight: 16.5 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T07%3A09%3A55.721Z-1%20%2826%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Facny Braclets</p>
                      <p class="card-text"> Price : ₹203,487.00</p>
                      <p class="card-text"> Weight: 25 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T07%3A09%3A07.127Z-1%20%2825%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Facny Bracelet</p>
                      <p class="card-text"> Price : ₹120,189.00</p>
                      <p class="card-text"> Weight: 14.8 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T06%3A51%3A28.222Z-1%20%2824%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Facny Bracelet</p>
                      <p class="card-text"> Price : ₹113,952.00</p>
                      <p class="card-text"> Weight: 14 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T06%3A40%3A12.510Z-1%20%2823%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Bracelet</p>
                      <p class="card-text"> Price : ₹94,010.00</p>
                      <p class="card-text"> Weight: 11.55 Grams</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-04-24T06%3A39%3A23.316Z-1%20%2822%29.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-title">Fancy Bracelet</p>
                      <p class="card-text"> Price : ₹101,724.00</p>
                      <p class="card-text"> Weight: 12.5 Grams</p>
                    </div>
                </div>
            </div>
        </div> 
        </div>     
</section>

<app-promisesoffice></app-promisesoffice>