<app-imgcontent></app-imgcontent>

<section class="mt-2 mb-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card" style="width: 18rem;">
          <a routerLink="/bajubandpd">
            <img src="https://goldbox-live.s3.ap-south-1.amazonaws.com/2024-05-23T04%3A25%3A20.896Z-8.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-title">New Baju Band</p>
              <p class="card-text"> Price : ₹394,323.00</p>
              <p class="card-text"> Weight: 45 Grams</p>
            </div>
          </a>
          </div>
      </div>
    </div>
  </div>    
</section>

<app-promisesoffice></app-promisesoffice>